{:W('Common/header')}

<title>{$setTitle}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/pay.css" />
<style type="text/css">

</style>
<div class="dd_js">
	<div class="dd_js_box">

          <div class="gouw_1">
            所在位置：    首页  > <span>支付页面</span>  > <span>{$setTitle}</span>
           </div>


    <div class="gwfk-zhifufangshi" style="border:1px solid #CCC;height:700px;">
			<div class="" style="height:200px;" >
				<span style="width:100%;float:left;height:40px;line-height:40px;font-weight:bold">线下汇款（到账周期为3个工作日）</span><br />
				<span style="color:red;width:100%;float:left;height:40px;line-height:40px;font-weight:bold">尊敬的客户您好，我司7802帐户线上对公打款已关闭，如需企业线下汇款，请点击“确认并获取汇款识别码”。</span><br/>
				<span style="width:100%;float:left;height:40px;line-height:40px;font-weight:bold">确认后，请在<font style="color:red">7</font>天内付清款项，超过10天未付款，系统将自动取消订单，到账周期为3个工作日。</span><br/>
				<span><button type="button" name="button" style="color:#fff;font-size:16px;background: red;outline: none;width:200px;height:50px;" class="button_">确认并获取汇款识别码</button></span><span class="tishi" style="display: none;border-bottom:1px solid red;position:relative;top:15px;left:5px;"><font style="color:red">（请勿重复获取，避免识别码重复）</font>汇款识别码以下至您17610089817的手机号码，请注意查收!</span><br />
				<span style="width:100%;float:left;height:40px;line-height:40px;font-weight:bold">汇款时将识别码填写至汇款“用途”栏，超出一个工作日位对账，请提供订单号及汇款底单邮件至networks@plgox.com</span>
			</div>
			<div class="" style="height:240px;">
				<span style="width:100%;float:left;height:40px;line-height:40px;font-weight:bold">注意事项：汇款时需要注意以下信息，请牢记！</span>
				<span style="width:100%;float:left;height:80px;line-height:40px;">1.您的汇款识别码为：<font style="color:red;border-bottom:1px solid red;" class="shibiema">请点击以上按钮获取识别码</font>，线下公司转账需要将此汇款识别码填写至电汇凭证的<font style="color:red">【汇款用途】，【附言】，【摘要】</font>栏内，汇款识别码组成：（PLGOX+订单号）。</span><br />
				<span style="width:100%;float:left;height:40px;line-height:40px;">（提醒：因不同银行备注字段不同，最好是将所有的可填写备注的地方都填写上<font style="color:red">汇款识别码</font>）。</span><br />
				<span style="width:100%;float:left;height:40px;line-height:40px;">2.线下公司转账订单，一个识别码对应一个订单和相应的金额，请勿多转账或者少转账。</span><br />
				<span style="width:100%;float:left;height:40px;line-height:40px;">3.请在<font style="color:red">7</font>天内付清款项，超过10天未对账系统自动会取消订单。到账周期为3个工作日。</span><br />
			</div>
			<div class="" style="height:240px;">
				<span style="width:100%;float:left;height:40px;line-height:40px;font-weight:bold;float:left">注意事项：汇款时需要注意以下信息，请牢记</span>
				<div class="" style="width: 100%;height:200px;float:left;background:rgb(247,247,247)">
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">开户名称：</font>无限魄力(北京)网络科技有限公司</span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">开户行地址：</font>北京银行经济技术开发区支行</span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">开户行账户：</font>20000034939000017357802</span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">纳税人识别号：</font>91110302MA00F54X8K</span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">开户地址：</font>北京市北京经济技术开发区荣华中路7号院3号楼5层515</span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">汇款识别码：</font><font style="color:red;border-bottom:1px solid red;" class="shibiema">请点击以上按钮获取识别码</font></span>
					<span style="height:29px;float:left;line-height:29px;width:100%"><font style="font-weight:bold">订单号：</font>12312321312321312</span>
				</div>
			</div>
       <!-- <table style="position: relative;top:100px;left:100px;width:600px;height:300px">
       	  <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">账户类型</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">对公账户</td>
       	  </tr>
       	  <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">开户名称</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">无限魄力(北京)网络科技有限公司</td>
       	  </tr>
       	  <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">开户行地址</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">北京银行经济技术开发区支行</td>
       	  </tr>
       	  <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">开户行账户</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">20000034939000017357802</td>
       	  </tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">纳税人识别号</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">91110302MA00F54X8K</td>
       	  </tr>
       	  <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">开户地址</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">北京市北京经济技术开发区荣华中路7号院3号楼5层515</td>
       	  </tr>
       	   <tr>
       	  	<td style="border:1px solid #CCC;text-align: center;font-weight: bold;font-size:15px;">电话</td>
       	  	<td style="border:1px solid #CCC;text-align: left;">010-67862466</td>
       	  </tr>
       </table> -->
    </div>
	</div>
</div>
  {:W('Common/header1_search')}
<!--发布成功  3秒后自动消失-->
<div class="zhezhao" style="display:none;">
	<div class="zz_nr_fbcg" style="display:none;width:350px;height:260px;">
		<div class="djs">3</div>
	  <div class="zdsc">
		删除成功
	  </div>

	  <div class="zz_nr3" >
			<div href="#wss" class="zdxs" >
				<img src="__PUBLIC__/Home/image/duihao.png" />
			</div>
	  </div>
	</div>

	<div class="zz_nr_scdz" style="display:none;">
	  <div class="zz_nr1">
		<span class="wxts">温馨提示<span>
		<span class="scqr">×</span>
	  </div>
	  <div class="zz_nr2" style="line-height:146px;height:146px;display:block;font-size:18px;"> 确定删除本条地址!</div>

	  <div class="zz_nr3" >
			<a href="#wss" class="qrsc">确认</a>
			<a href="#wss" class="tyjs">取消</a>
	  </div>
	</div>



</div>
<br/><br/>
<script type="text/javascript" src="__PUBLIC__/Home/js/fen_ye.js">
</script>
<script type="text/javascript">
	$(".button_").click(function(){
		var time = new Date().getTime();
		// alert(Math.round(new Date().getTime()/1000));
		$(".shibiema").each(function( index ){
			$(".shibiema").eq(index).text("PLGOX"+time);
		})
		$(".tishi").css("display","");
		$(this).attr("disabled","disabled");
		$(this).css("background","#ccc");
	});
</script>
{:W('Common/footer')}
