{:W('Common/header')}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/look_xinagqing.css">

<style type="text/css">

</style>
<div class="dd_js">
	<div class="dd_js_box">
        
          <div class="gouw_1">
            所在位置：    首页  > <span>消息</span> > {$message_['message_title']}
           </div>

          <div class="mes_detai">{$message_['message_title']}</div>
          <div class="mes_detai1">{$message_['message_createtime']|date="Y-m-d H:i:s",###}</div>

          <div class="mes_detai2">{$message_['message_content']}</div>



	</div> 
</div>
  {:W('Common/header1_search')} 
<br/><br/>
  	<script type="text/javascript">
 


	</script>

{:W('Common/footer')} 

