<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{$setTitle}</title>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap.css">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/bootstrap.js"></script>
</head>
<style type="text/css">

</style>
<body>
<ol class="breadcrumb">
	<li>当前位置</li>
	<li>{$setTitle}</li>
</ol>
<div class="container-fluid">
	<div class="table-responsive">
	    <table class="table table-bordered">
	       <tr>
	            <td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px"><div class="div_memo">协议名称</div></td>
	            <td><input  class="input_cjxm2 form-control"    name="data[protocol_name]" value="{$vo['protocol_name']}" style="width:400px;height: 40px"/></td>
	        </tr>
	        <tr>
	            <td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px"><div class="div_memo">协议标题</div></td>
	            <td>
	                <input class="input_cjxm2 form-control" name="data[protocol_title]" id="d11" type="text" value="{$vo['protocol_title']}" style="width:400px;height: 40px"/>
	            </td>
	        </tr>
	        <tr>
	            <td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px"><div class="div_memo">协议内容</div></td>
	            <td><textarea class="input_cjxm2 form-control"  id="px"  name="data[protocol_content]" style="width:553px;height:300px;resize:none;">{$vo['protocol_content']}</textarea></td>
	        </tr>
	        <tr>
	            <td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px"><div class="div_memo">协议状态</div></td>
	            <td  style="line-height: 40px">
					  <label>
					    <input type="radio" name="data[protocol_type]" id="optionsRadios2" value="0" <if condition="$vo['protocol_type'] eq 0">checked</if> >&nbsp;关闭
					  </label>&nbsp;&nbsp;&nbsp;
					  <label>
					    <input type="radio" name="data[protocol_type]" id="optionsRadios2" value="1" <if condition="$vo['protocol_type'] eq 1">checked</if> >&nbsp;开始
					  </label>
	            </td>
	        </tr>
	        <tr>
	        	<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px"></td>
	        	<td><button type="button" style="width:150px;height:45px;" class="btn btn-success" value="{$vo['protocol_id']}">提交</button></td>
	        </tr>
	    </table>
	</div>
</div>
</body>
<script type="text/javascript">
$(".btn-success").click(function(){
	if( $(".input_cjxm2").eq(0).val() == "" ){
		alert("协议名称不能为空!");
		return false;
	}
	if( $(".input_cjxm2").eq(1).val() == "" ){
		alert("协议标题不能为空!");
		return false;
	}
	if( $(".input_cjxm2").eq(2).val() == "" ){
		alert("协议内容不能为空!");
		return false;
	}
	$.ajax({
		type: "POST",
	dataType: "JSON",
		 url: "{:U('User/user_protocol_update')}",
		data: { 'protocol_id':$(this).val() , 'protocol_name':$(".input_cjxm2").eq(0).val() , 'protocol_title':$(".input_cjxm2").eq(1).val() , 'protocol_content':$(".input_cjxm2").eq(2).val() , 'protocol_type':$('input[type="radio"]:checked').val() },
		success: function( data ){
			if( data.status == 2000 ){
				alert(data.message);
				return false;
			}else if( data.status == -2000 ){
				alert(data.message);
				return false;
			}
		},
		error: function( XMLHttpRequest , error , status){
			alert("出现错误，出现错误的地方在："+ status);
			return false;
		}
	});
});
</script>
</html>