 
  <div class="index_bottom" style="background-color:white;">
    <div style="margin:20px auto 30px auto;text-align:center;width:1195px;">
      <img src="__PUBLIC__/Home/image/xiamian.png"/>
    </div>
   	 <ul class="index_bottom1">
   	 	<li >
   	 	  <p>关于我们</p>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/GongSiGaiKuang')}'">公司概况</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/ShangWuHeZuo')}'">商务合作</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/JiaRuWoMen')}'">加入我们</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/LianXiWoMen')}'">联系我们</div>
   	 	  
   	 	</li>
   	 	<li >
   	 	  <p >租户说明</p>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/ZuLinLiuCheng')}'">租机流程</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/ZuJinZhiFu')}'">租金支付</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/ZuLinXieYi')}'">租赁协议</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/TuiJiLiuCheng')}'">维修退机</div>
   	 	</li>
   	 	<li >
   	 	  <p>租赁商说明</p>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/RuZhuTiaoJian')}'">入驻条件</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/RuZhuTiaoJian')}'">为什么入驻</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/RuZhuLiuCheng')}'">入驻流程</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/RuZhuXieYi')}'">入驻协议</div>
<!--   	 	  <div onclick="javascript:window.location.href='{:U('Help/ZuLinLiuCheng')}'">押金返还</div>
   	 	  <div onclick="javascript:window.location.href='{:U('Help/ZuLinLiuCheng')}'">押金租金提现</div>-->
   	 	</li>
   	 	<li style="background-color:#D6D6D6;height:160px;width:1px;margin-left:130px;"></li>
   	 	<li style="margin-left:120px;">
   	 	  <div><img src="__PUBLIC__/Home/image/footer1.jpg"></div>
   	 	  <div class="index_bottomm11">
				<span>在线客服</span>
		  </div>	
   	 	</li>
   	 </ul>
   </div>
   <div class="index_bottom_db" style="">
      <ul>
      	<li>© Copyright 无限魄力（北京）网络科技有限公司</li>
      	<li style="background-color:#D6D6D6;height:20px;width:1px;margin-top:32px;margin-left:20px;"></li>
      	<li style="margin-left:20px;">京ICP备17043584号 </li>   
      </ul>
   </div>
</body>
<style type="text/css">

</style>
</html>