.es_sy{
	position:relative;  
	width:100%;
	background-color:#FAFAFA;
	padding-top:20px;
	padding-bottom:30px;
}
.esxz_qbsy{
	width:1192px;
	margin:20px auto;
	height:180px;
	margin-top:0px;
}
.esxz_qbsy img{
	width:1192px;
	height:180px;
}
.es_sy_small{
	width:1192px;
	margin:0 auto;
	overflow:hidden;
	font-size:12px;
	color:#666666;

}
.es_sy1{
	
    width:1192px;
    overflow:hidden;
}
.es_sy1_box{
	padding:20px 15px;
	background-color:white;
}
.es_sy10{
	position:relative;
	font-size:12px;
	width:100%;

}
.xyyd{
   display:inline-block;
	width:40px;
	height:34px;
	line-height:34px;
	font-weight:500;	
}
.es_jg,.es_qy{
	overflow:hidden;
   top:10px;
   width:1120px;

}
.es_qy{
	margin-top:-10px;
}
.es_jg span,.es_qy span{
	display:inline-block;
	height:40px;
	cursor:pointer;
	padding:10px;
}
.dyxyyd{
	display:inline-block;
	width:40px;
	height:34px;
	line-height:34px;
    float:left;
	font-weight:500;	
}
.es_first,.es_second,.es_third{
	display:inline-block;
	position:relative;
	cursor:pointer;
	width:1000px;
	float:left;
/*	overflow:hidden;*/
}
.es_second,.es_third{
	margin-left:75px;
}

.es_first span,.es_sy10 span,.es_second span,.es_third span{
	/*display:inline-block;
    z-index:9;
	cursor:pointer;
	padding:0px 8px;*/
}
.dyjdj,.dyjdj1{
	position:relative;
	display:inline-block;
    padding:0px 40px;
	cursor:pointer;
	margin-left:10px;
}
.dyjdj1{
	padding:0px 7px;
}
.eszds{
	display:block;
	position:absolute;
	z-index:700;
	height:45px;
    background-color:white;border:1px solid #DDDDDD;
    top:20px;
    width:1170px;
    left:-110px;
    padding:0px 20px;
}
.dejdj{
	position:relative;
	padding:0px 30px;
	display:inline-block;
	text-align:center;
	line-height:45px;
}
.dyjdj_,.dyjdj_1{
	position: absolute;
    display: inline-block;
    z-index: 800;
    width: 80px;
    text-align: center;
    background-color: white;
    height: 30px;
    top: -10px;
    line-height: 30px;
    border: 1px solid #DDDDDD;


}
.dyjdj_1{
	width:40px;
}
.dyjdj_1{
	border:0px;
	padding:0px;
	
}

.dyjdj_:hover,.dyjdj_1:hover,.dejdj a:hover,.es_sy10_dj{
	color:#ff3900;
}

.sszds{
	display:block;position:absolute;box-shadow:2px 2px 10px #DDDDDD;
	line-height:40px;text-align:left;background-color:white;
	border:1px solid #DDDDDD;width:450px;
	top:43px;
}
.sjfld{
	display:inline-block;
	width: 80px;
    text-align: center;
    background-color: white;
    height: 30px;
    text-align:center;
}

/*.es_first span:hover,.es_jg span:hover,.es_qy span:hover{
	color:#ff3800;
}*/
.es_sy10_dj{
	color:#ff3800;;
}
.es_sy2101:hover{
	color:#F35224;
}
.jgqj{
	display:inline-block;
	text-align:center;
	height:18px;width:60px;border:1px solid #D6D6D6;
}

.es_sy2{
	margin-top:20px;
	width:1192px;
	overflow:hidden;
}
.es_sy21{
	width:982px;
	float:left;
	background-color:white;
	overflow:hidden;

}
.es_sy22{
	width:200px;
	float:right;margin-top:42px;
	overflow:hidden;
	background-color:white;
}
.es_sy210,.es_sy21_xm,.es_dbl{
	font-size:16px;
	height:42px;width:100%;
	margin:0px;
	background-color:white;
	border-bottom:1px solid #F35224;
}
.es_sy21_xm{
	border-bottom: none;
	height:50px;
}
.es_sy22_12{
	display:block;
	height:120px;
	width:150px;
	overflow:hidden;
}

.es_sy2101,.es_sy2_xm{

	float:left;
	color:#666666;
	cursor:pointer;
	border-top:1px solid #e6e6e6;
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #F35224;
	margin-right:3px;	
}
.es_sy2101{
	height:42px;
	width:120px;
	line-height:42px;
	text-align:center;
}

.es_sy2_xm{
	padding:0px 25px;
	height:50px;
	border:none;
	line-height:50px;
}
.es_sy2_xm:hover{
color:#018f96;
}
.es_sy2_xm_dj{
	color:#018f96;
}
.es_sy210_dj{
	background-color:#F35224;
	color:white;
}
.es_sy220{
	font-size:12px;
	height:50px;
	line-height:50px;
	background-color:#f5f5f5;
	border-bottom:1px solid #F35224;
	padding-left:20px;
	width:100%;
	overflow:hidden;
}
.es_sy211{
	padding:0px 20px;
	background-color:white;
}
.es_sy21_1{
	width:100%;
	height:190px;
	padding:20px 0px;
	border-bottom:1px solid #EFEFEF;
}
.es_sy21_le{
	position:relative;
	width:200px;
	height:146px;
	float:left;
	text-align:center;
	cursor:pointer;
	overflow:hidden;
}
.es_sy21_le:first-child{
	background-color:#F7F7F7;
}
.esxz_none{
	display:block;
	margin:0 auto;
	margin-top:25px;
}
.esxz_zwtp{
	color:#555555;
	font-size:14px;
	margin-top:15px;
}
.esxz_sy21_img{
	width:200px;
	height:146px;
}
.es_sy21_mi{
	position:relative;
	width:455px;
	float:left;
	height:150px;
	margin-left:20px;

}
.es_sy21_mi1{
	font-size:16px;	
	cursor:pointer;
	color:#4A4D50;
	line-height:20px;
}
.es_sy21_mi1 span{
	display:inline-block;
	width:18px;
	height:18px;
	border:1px solid #EFADC6;
	background-color:#f4d9e1;
	color:#e40050;
	font-size:12px;
	text-align:center;
	line-height:16px;
	border-radius:2px;
	font-weight: 600;
}
.es_sy21_mi1:hover{
	color:#e40050;
}
.es_sy21_mi2{
	position:relative;
	font-size:12px;
	color:#888888;
	width:330px;
	margin-top:20px;
	height:40px;
	overflow:hidden;
	line-height:20px;
}
/*.es_sy21_mi2:hover::after {
    content: attr(data-title);  
    display: inline-block;
    padding: 10px 14px;
   width:330px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    left:0px;
    top:20px;
    background-color:white;
    z-index:2;
}*/
.es_sy21_mi3{
	position:absolute;
	font-size:12px;
	color:#888888;
	bottom:7px;
}
.es_sy21_ri{
	position:relative;
	float:right;
	margin-right:35px;
	font-size:18px;
	color:#e40050;
	line-height:100%;
	margin-top:62px;
}
.es_sy221{
	width:150px;
	margin:0 auto;
	overflow:hidden;
}
.es_sy22_1{
	padding-top:25px;
	padding-bottom:10px;
	overflow:hidden;
}
.es_sy22_1:first-child{
	padding-top:20px;
}
.es_sy22_1:last-child{
	padding-bottom:30px;
}
.es_sy22_10{
	line-height:35px;
	font-size:14px;
	text-align:center;
	color:#F35224;
}
.es_sy22_11{
	line-height:15px;
	font-size:12px;
	height:30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*.es_sy22_11:hover{
	height:auto;
	overflow:visible;
}*/
.es_sy216{
	height:220px;
	width:980px;
	margin-left:-30px;
	background-color:white;
}

.message_fy{
   	height:35px;
   	margin:0 270px;
   	padding-top:80px;

   }
   .message_fy li{
   	  width:33px;  	  
   	  border:1px solid #D6D6D6;
   	  border-left:0px;
   	  float:left;  	  
   	  font-size:12px;
   }
.xdbh{
	display:block;
	width:100%;
	color:#333333;
	text-align:center;
   	  line-height:35px;
}

   .message_fy li:first-child
   {
border-left:1px solid #D6D6D6;
   }
   .message_fy li:first-child,.message_fy li:last-child{
     width:65px;
     height:37px;
     line-height:37px;
   }
    .message_fy li a:first-child,.message_fy li a:last-child{
    	display:block;
     width:100%;
     height:35px;
     line-height:35px;
   }
 .xdbh_on{
	background-color:#E70052;
	color:white;
}






.zulin8{
	overflow:hidden;
	width:100%;
	margin-left:-20px;
}
.dbox{
	width:1192px;
	margin:0 auto;
	background-color:#FAFAFA;

}
.zulin81{
	width:290px;
	margin:4px;
	height:330px;
	float:left;
	position:relative;
	background-color:white;
	overflow:hidden;
	border: solid 1px #d6d6d6;
}
.zulin81:hover{
	border: solid 1px #F35224;
}
.zulin82{
	width:170px;
	height:170px;
	margin:auto auto;
	overflow:hidden;
	text-align:center;
	margin-top:20px;
}
.zulin82 img{
	width:170px;height:170px;
}
.zulin85{
	position:absolute;
	width:238px;
	margin:0 auto;
	color: #666666;
	font-size:12px;
	overflow:hidden;
	text-align:left;
	margin-left:22px;
    bottom:48px;
}
.zulin83{
     bottom:0px;
     padding:0px;
	width:238px;
	line-height:22px;
	margin:0 auto;
	color: #666666;
	font-size:12px;
	overflow:hidden;
	text-align:left;
	margin-top:20px;
}
.zulin831{
	width:238px;
	height:45px;
	cursor:pointer;
	line-height:22px;
	
}
.zulin831:hover{
	color:#F35224;
}
.zulin851{
	font-size:16px;
	color: #F35224;
	margin-left:0px;
}
.zulin85jz{
	text-align:center;
}
.zulin852{
	display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #F35224;
    background-color: #FFE9DC;
    color: #F35224;
    font-size: 12px;
    float:right;
    margin-top:10px;
    text-align: center;
    line-height: 16px;
    border-radius: 2px;
    font-weight: 600;
}

.in_center1228{
	position:absolute;
	width:238px;
    bottom:4px;
	height:42px;
	line-height:42px;
	left:22px;
	overflow:hidden;
	
	font-size:12px;
}
.in_center12281{
	display:inline-block;
	float:left;
}
.in_center12282{
	display:inline-block;
	float:right;
}
.incenter_12_hs{
	color:#888888;
}
.incenter_12_zs{
	color:#b3724c;
}
