.es_detil{
	position:relative;
	height:406px;
	background-color:white;
	color: #555555;
}
.es_detil_left{
	position:relative;
	float:left;
	width:400px;
	overflow:hidden;
	padding-left:14px;
	padding-top:20px;
}
.esxz_xjnr{
	font-size:16px;
	color:#555;
	width:850px;
	line-height:25px;
	margin:0 auto;
	margin-bottom:30px;
	overflow:hidden;
}
.esxz_xjnr span{
	display:inline-block;
	padding:5px 30px;
	overflow:hidden;

}
.esxz_xjnr1{
	text-decoration:line-through;
	color:#C8C6C6;
	}
.esxz_xjnr2{

	}
.es_detil_left_tp{
	position:relative;
	width:375px;
	height:315px;
}
.es_detil_left_tp img{
	width:375px;
	height:300px;

}
.es_sy210{
 		font-size:16px;
 		color: #F35225;
 		font-weight:600;
 		padding-left:20px;
 		line-height:50px;
 		border-bottom:1px solid #eeeeee;
 	}
 	.zz_nr:nth-child(1){
 		height:390px;
 		width:483px;
 	}
 	.zz_nr:nth-child(2){
 		height:270px;
 		width:363px;
 	}
 	.esxz_de_zz{
 		display:block;float:left;font-size:14px;
 		text-align:left;
 		padding-left:30px;
 		color:#333333;
 		width:150px;
 	}
 	.esxz_de_zz2{
 		width:310px;
 		font-size:14px;
 		overflow:hidden;
 		margin:0 auto;
 	}
 	.fsgsj{
 		margin: 0 auto;
 		width:100px;
 		height:40px;
 		background-color:#F35225;
 		color:white;
 		text-align:center;
 		line-height:40px;
 		margin-top:20px;
 		border-radius: 5px;
 		cursor:pointer;
 		font-size:14px;
 	}
 	.fsgsj:hover{
 		background-color:#CC3D16;
 	}
 	.esxz_de_zz2 div:first-child{
 		width:75px;
 		float:left;
 		margin-top:5px;
 		text-align:right;
 	}
 	.esxz_de_zz2 div:last-child{
 		width:230px;
 		float:right;
 		overflow:hidden;
 		text-align:left;
 	}
 	.esxz_de_zz2 div:last-child input{
 		width:220px;
 		height:25px;
 		padding-left:4px;

 	}
 	.esxz_de_zz3{
 		height:60px;
 		width:100%;
 		overflow:hidden;
 		border-top:1px solid #d6d6d6;
 		background-color:#eeeeee;
 		line-height:60px;
 		font-size:14px;
 		margin-top:20px;
 		text-align:center;
 	}
 	.esxz_de_zz3 b{
 		font-weight:500;
 	}
 	.esxz_de_zz3 span{
 		display:inline-block;
 		width:75px;
 		height:32px;
 		cursor:pointer;
 		line-height:32px;
 		text-align:center;
 		margin-left:20px;
 		color:white;
 		background-color:#429990 ;
 	}
 	.esxz_de_zz5{
 		font-size:16px;
 		width:258px;
 		margin:0 auto;
 		line-height:25px;
 		margin-top:65px;
 		margin-bottom:50px;
 	}
 	.es_detil_xz,.es_detil_sz{
 		float:left;
 		margin-bottom:15px;
 		font-size:14px;
 	}
 	.es_detil_xz{
 		margin-right:40px;
 		width:120px;
 		overflow:hidden;
 	}
 	.zz_nr1{
 		background-color:#eeeeee;
 		height:50px;
 		line-height:50px;
 		border-bottom: 1px solid #d6d6d6;
 	}
 	.scqr{
 		font-size:25px;
 		margin-left:0px;
 		margin-right:20px;
 		color:#333333;
 	}
 	.esxz_de_zz1{
 		width:426px;
 		height:70px;
 	background:url('__PUBLIC__/Home/image/esxz_deti9.jpg') no-repeat 12px 12px;
 		background-color:#fffdcc;
 		margin:0 auto;
 		font-size:12px;
 		line-height:22px;
 		margin-top:10px;
 		padding:12px 10px 15px 38px;
 		border:1px solid #fff59e;
 	}
 	.zz_nr3{
 		width:258px;
 	}
 	.ty_esxz,.ty_esxz1{
 	  width:104px;border-radius: 2px;height:45px;display:block;
 	  color:white;
 	  font-size:18px;
 	  line-height:45px;
 	  cursor:pointer;
 	  text-align:center;
 	  }
 	  .ty_esxz{
 	  	float:left;
 	  	
 	  	background-color:#cccccc;
 	  	
 	  }
 	   .ty_esxz:hover{
 	   	background-color: #b3b3b3;
 	   }
 	   .ty_esxz1{
 	   	background-color:#e40050;
 	  	float:right;
 	  }
 	   .ty_esxz1:hover{
 	   	background-color: #c90047;
 	   }
.es_detil_left_sm_img{
	position:relative;
	width:384px;
	overflow: hidden;
	height:72px;
	margin-left:-6px;
	
}
.es_detil_left_box{
	position:absolute;
	height:72px;
	background-color:white;
}
.es_detil_left_img{
	width:92px;
	height:72px;
	float:left;
	overflow:hidden;
	margin-left:4px;
	background-color:#EEEEEE;
	border: solid 1px rgba(0,0,0,0);
}
.es_detil_left_img img{
	width:90px;
	height:70px;
}
.es_detil_left_img:hover{
	border: solid 1px #e40050;
}
.es_detil_left_tb,.es_detil_right_tb{
	position:absolute;
	width:20px;
	height:72px;
	cursor:pointer;
	padding-top:28px;
	text-align:center;
	background:rgba(125, 125, 125, 0.5);
	
}
.es_detil_left_tb{
	display:none;		
    left:5px;
    z-index:3;	

}
.es_detil_right_tb{
    right:0px;	

}
.es_detil_mi{
	position:relative;
	float:left;
	width:562px;
	overflow:hidden;
	height:410px;
	padding-left:20px;
}
.es_detil_mi1{
	font-size: 18px;
	color: #F35225;
	width:370px;
	line-height:25px;
	margin-top:63px;
}
.es_detil_mi2{
    margin-top:14px;
	font-size: 12px;
	color: #888888;
}
.es_detil_mi99{
	margin-top:30px;
}
.es_detil_mi3{
	margin-top:35px;
	
}
.es_detil_jg,.es_detil_jg1{
	font-weight:500;
	font-size: 14px;
	
}
.es_detil_jg_1{
	font-size: 18px;
	color: #F35225;
}
.es_detil_jg1_1{
	font-size: 12px;
	color:#999;
}
.es_detil_jg1{
	font-size:12px;
	color:#999;
}
.es_detil_q,.es_detil_mi32{
	display:inline-block;
	width: 22px;
	height: 22px;
	background-color: #FFE9DF;
	border-radius: 2px;
	border: solid 1px #F35224;
	font-size: 12px;
	margin-left:0px;
	line-height: 20px;
	text-align:center;
	color: #F35224;
	cursor:pointer;
	font-weight:600;
}
.es_detil_mi31{
	display:inline-block;
	border-radius:50%;
	width: 16px;
	height: 16px;
	text-align:center;
	line-height:16px;
	background-color: #636363;
	font-size: 12px;
	cursor:pointer;
	color: #ffffff;
}
.es_detil_mi32{
	margin-left:20px;
}
.es_detil_mi5{
	font-size: 14px;
	margin-top:37px;
}
.es_detil_mi6{
	font-size: 14px;
	margin-top:19px;
}
.es_detil_mi7{
	position:absolute;
	line-height:40px;
	bottom:15px;
}
.es_detil_mi71,.es_detil_mi76{
	display:inline-block;
	width: 148px;
	height: 40px;
	text-align:center;
	line-height:40px;
	color: #F35225;
	cursor:pointer;
	border: solid 1px #F35225;
}
.es_detil_mi71:hover,.es_detil_mi76:hover{
	background: #F35225;
	color:white;
}
.es_detil_mi72{
	cursor:pointer;
	margin-left:26px;
}
.es_detil_mi73{
	font-size:16px;
}
.es_detil_right{
	position:relative;
	float:right;
	width:230px;
	overflow:hidden;
	height:100%;
	padding:20px;
	background-color:#f2f2f2;
}
.es_detil_right1{
	width: 104px;
	height: 104px;
	margin:0 auto;
	overflow:hidden;
	background-color: #ffffff;
	border-radius: 50%;
}
.es_detil_right1 img{
	width: 104px;
	height: 104px;
	border-radius: 50%;
}
.es_detil_right2{
	font-size: 14px;
	margin-top:20px;
	margin-left:20px;
}
.es_detil_right3{
   width:100%;
   height:1px;
   border:1px dashed #bfbfbf;
   margin-top:20px;
}
.es_detil_right5{
	margin-top:28px;
	font-size:12px;
	margin-left:20px;
}
.es_detil_right6{
	margin-top:16px;
	font-size:12px;
	margin-left:20px;
	
}
.es_detil_tk{
	display:block;
	float:left;
	width:140px;
	height:18px;
	line-height:18px;
	text-align:left;
	overflow:hidden;
}
.es_detil_mi8,.es_detil_mi9{
	position:absolute;
	top:165px;
	display:none;
	width:191px;
	height:82px;
	background:url("../image/esxz_detil5.png") no-repeat top left;
	z-index:20;
	padding:5px 10px;
	padding-top:13px;
	line-height:20px;
}
.es_detil_mi8{
		left:218px;
}
.es_detil_mi9{
		left:262px;
}

.es_detil2{
	position:relative;
	margin-top:20px;
	height: 50px;
	line-height:50px;
	font-size:14px;
	background-color: #f2f2f2;
	border: solid 1px #eeeeee;
	padding-left:20px;
}
.es_detil2 div{
	float:left;
}
.es_detil2 span{
	display:block;
	float:left;
	width: 18px;
	height: 18px;
	background-color:#d81e06;
	color:white;
	line-height:18px;
	text-align:center;
	margin-left:63px;
	border-radius:50%;
   margin-top:16px;
}
.es_detil21{
	color:#d81e06;
	font-size:16px;
	cursor:pointer;
}
	.esxz_detil5{
 		padding:20px 35px 20px 20px;
 	}
.esxz_detil51{
	font-size:14px;
	line-height:22px;
	width: 850px;
	overflow:hidden;
	margin:0 auto;
}
.esxz_detil52{
	width: 850px;
    margin:0 auto;
	margin-top:30px;
}
.esxz_detil52 img{
	width: 848px;
	height: 558px;
}

