.header_box,.header_box1,.header_bottom_box{
	position:relative;  
	width:100%;
}
.header_box{
	height:85px;

border-bottom: 1px solid #e6e6e6;
    background-color: #FCFCFC;
    box-shadow: 1px 0 4px #e6e6e6;
	background-color:white;
}
.header_box1{
	padding-top:20px;
	background-color:#FAFAFA;
	height:54px;
}
.header_top,.header_middle,.header_bottom1,.header_cb1{
	width:1192px;
	margin:0 auto;
	overflow:hidden;
	font-size:14px;
	color:#666666;
}
.header_topz{
	display:inline-block;

	overflow:hidden;
	height:70px;

}
.loginout{
	position:absolute;
	z-index:9;
	display:none;
	float:left;
	width:125px;
	height:35px;
	cursor:pointer;
	text-align:center;
	line-height:35px;
	background-color:white;
	overflow:hidden;
	margin-top:55px;
	box-shadow: 0 2px 5px 0 #e6e6e6;
	border: 1px solid #e6e6e6;
	margin-left:-175px;
	
}
.header_topy{
	display:inline-block;
	float:right;
	text-align:right;
	overflow:hidden;
   
}


.header_topz01{
	margin-left:5px;
}
.header_topz02{

	display:inline-block;
	width:220px;
	font-size:16px;
	overflow:hidden;
	text-align:center;
	cursor:pointer;
}


a{
	color:#666666;
}
.header_topz1{
	float:left;
	margin-top:12px;

}
.header_topz2{
	float:left;
    height:25px;
}
.header_topz2 img{
  padding-top:0px;
}
.header_topy a{
	display:block;
	float:left;

}
.header_topz01:hover,.sbdjh:hover{
	color:#1f61c3;
}
.header_topy50{
	display:inline-block;margin-top:2px;float:left;width:13px;height:13px;border-radius:50%;background-color:red;color:white;font-size:8px;text-align:center;line-height:13px;
}
.header_middle_left{
float:left;
}
.header_middle_center{
	float:left;
	padding-top:10px;
    margin-left:84px;
    
	
}

.header_middle_center_bd{
	display:inline-block;
	width:317px;
	float:left;
	height:40px;
	padding-left:6px;	
	font-size:14px;
	border:1px solid #f35225;
}
input::placeholder{
    color:#b8b8b8;
  }
  input{
  	color:#666666;
  }
.header_middle_center_cz,.header_middle_center_cz1{
	float:left;
	width:73px;
	border:1px solid #f35225;
	height:40px;
	border-left:#f35225;	
	text-align:center;
	line-height:36px;
	cursor:pointer;
	background-color:#f35225;
}
.header_middle_center_cz1{
	background-color:#f35225;border:1px solid #e40050;
}
.header_middle_center_cz1:hover{
	background-color:#f35225;
}
.header_middle_center_cz:hover{
	background-color:#d9d9d9;
}
.header_middle_right,.header_middle_right1{
	float:right;
	width:124px;
	margin-top:18px;	
	line-height:39px;
	cursor:pointer;
}
.header_middle_right{
	background:url('../image/header_top3.png') no-repeat 49px center;
	background-color:#F7F7F7;
}
.header_middle_right1{
	background-color:#EDC2AF;
	text-align:center;
}
.header_middle_right1:hover{
	background-color:#ecbda7;
}
.header_middle_right1 span{
	font-size:16px;
	color:#c4456d;
	
}
.header_middle_right:hover{
	background-color:#D6D6D6;
}
.header_middle_right a{
	display:inline-block;
	width:184px;
	height:39px;
	font-size:16px;
	color:#666666;padding-left:86px;

}
.header_bottom_box{
	top:18px;
	height:40px;
}
.header_bottom1_middle,.header_bottom1_right{
	float:left;
}
.header_bottom1_left{
	line-height:50px;
	width:204px;
		background:url('../image/header_top4.png') no-repeat 49px center;
		color:white;
		font-size:16px;
   background-color:#1166CC;
}
.header_bottom1_left:hover{
	background-color:#1B54A6;
}
.header_bottom1_left span{
	margin-left:80px;
}
.header_bottom1_middle{
	float:left;
	height:85px;
	line-height:55px;
}

.header_bottom1_middle li{
	margin-left:15px;
	margin-right: 15px;
	padding:0px 3px;
    height:85px;
    font-size:16px;
    line-height:85px;
    float:left;
}
.header_dj{
border-bottom:3px solid #f35225;
}
.header_bottom1_middle li a:hover{
	color:#f35225;
}
.header_bottom1_right{
	float:right;
	height:85px;
	line-height:85px;
}



.header_cb{
	position:absolute;
	top:186px;
	width:100%;
	z-index:999;
}
.header_cb10{	
	height:0px;
	width:205px;
   background-color:#F7F7F7;
   overflow:hidden;
}
.header_cb101{
	width:180px;
   margin:0 auto;
   padding-top:15px;
}
.header_cb101 li{	
	height:104px;
	padding:0 10px;
	top:17px;
	padding-top:17px;
	border-bottom:1px dashed #CCCCCC;
}
.header_cb101 li p{
	font-size:16px; 
	color:#666666;
	height:20px;
	line-height:20px;
}
.header_cb101 li p img{
	display:block;
	float:left;

}
.header_cb101 li p span{
	display:block;
	margin-left:10px;
	float:left;
}
.header_cb101 li div{
	height:23px;
	line-height:23px;
}
.header_cb101 li div span{
	font-size:12px;
	margin-left:3px;
	cursor:pointer;
}
.header_cb101 li div span:hover{
	color:#1f61c3;
}

/* 底部*/
li{
	list-style-type:none;
}
.index_bottom{
	position:relative;
	width:100%;
	overflow:hidden;
	color:#666666;
	padding-bottom:30px;
	padding-top:10px;
}
.index_bottom_db{
	position:relative;
	width:100%;
	overflow:hidden;
	color:#666666;

	background-color:#F7F7F7;
}
.index_bottom_db ul{
	margin:0 auto;
	font-size:12px;
	width:452px;
	height:85px;
	overflow:hidden;
	line-height:85px;
	color:#666666;
}
.index_bottom_db ul li{
	float:left;
}

.index_bottom1,.index_bottom1_es{
	margin:0 auto;
	width:1192px;
	overflow:hidden;
	height:200px;
	padding-top:35px;
}
.index_bottom1 li,.index_bottom1_es li{
	margin-left:70px;
	float:left;
	width:90px;
}
.index_bottom1 li div,.index_bottom1_es li div{
	font-size:12px;
	line-height:25px;
	text-align:left;
	cursor:pointer;
}
.index_bottom1 li div:hover{
	color:#1f61c3;
}
.index_bottom1_es li div:hover{
	color:#e40050;
}
.index_bottom1 li p,.index_bottom1_es li p{
	font-size:14px;
	line-height:25px;
	text-align:left;
	font-weight:bold;
}
.index_bottomm11,.index_bottomm11_es{
	width:190px;
	border-radius:2px;
	height:40px;
	color:white;
	margin-top:15px;
	margin-left:40px;
	background:url('../image/footer2.png') no-repeat 40px center;
	background-color:#1f61c3;
}
.index_bottomm11_es{
	background-color:#e40050;
}
.index_bottomm11_es:hover{
	background-color:#c90047;
}
.index_bottomm11:hover{
	background-color:#1b53a6;
}
.index_bottomm11 span,.index_bottomm11_es span{
	font-size:18px;
	margin-left:80px;
	color:white;
	line-height:40px;
}


.bottom_6{
	width:310px;height:102px;
	margin-left:22px;
}
.bottom_61{
	float:left;
	padding:5px;
	display:block;width:100px;height:102px;background-color:white;text-align:center;
}
.bottom_62{
	width:310px;
	font-size:12px;
	margin-left:22px;
	padding-top:20px;
}
