<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{$setTitle}</title>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/bootstrap/css/zebra_datepicker.min.css" type="text/css">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/zebra_datepicker.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/examples.js"></script>
</head>
<body>
<div class="container-fluid">
<ol class="breadcrumb">
<li>当前位置</li>
<li>{$setTitle}</li>
</ol>
<div class="table-responsive">
  <table class="table table-bordered">
  	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">板块title：</td>
		<td style="border:none">
			<input type="text" class="form-control module_title"  value="{$share_list['module_title']}" style="width:470px;height: 40px" name="module_title" >	
		</td>
	</tr>
	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">板块描述：</td>
		<td style="border:none">
			<textarea class="form-control module_descriptions" rows="5" style="width: 470px;resize: none" name="module_descriptions">{$share_list['module_descriptions']}</textarea>
		</td>
	</tr>
	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">新增时间：</td>
		<td style="border:none">
			<div class="form-group">
				<neq name="share_list['module_id']" value="">
					<input id="datepicker-example2" type="text" value="{$share_list['module_createtime']|date='Y-m-d H:i:s',###}" class="form-control module_createtime" style="width:470px;height: 40px" name="module_createtime" >
				<else />
					<input id="datepicker-example2" type="text" value="{$module_createtime|date='Y-m-d H:i:s',###}" class="form-control module_createtime" style="width:470px;height: 40px" name="module_createtime" >
				</neq>
			</div>
		</td>
	</tr>
	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">
			
		</td>
		<td style="border:none">
			<neq name="share_list['module_id']" value="">
				<button type="button" class="btn btn-success" value="{$share_list['module_id']}">确认修改</button>
			<else />
				<button type="button" class="btn btn-success">确认新增</button>
			</neq>
			<button type="button" class="btn btn-danger">返回上页</button>
		</td>
	</tr>
  </table>
</div>
</div>
</body>
<script type="text/javascript">
	$(".btn-danger").click(function(){
		window.location.href="{:U('Share/share_module_list')}";
	});
	$(".btn-success").click(function(){
		if( $(".module_title").val() == "" ){
			alert("板块title不能够为空的");
			return false;
		}
		module_id = $(this).val();
		$.ajax({
			type: "POST",
		dataType: "JSON",
			 url: "{:U('Share/share_module_update')}",
			data: { 'module_id':module_id , 'module_title':$(".module_title").val() , 'module_descriptions':$(".module_descriptions").val() , 'module_createtime':$(".module_createtime").val() },
			success: function( data ){
				if(data.status == 2000 ){
					alert(data.message);
					window.location.href="{:U('Share/share_module_list')}";
					return false;
				}else if( data.status == -2000 ){
					alert(data.message);
					return false;
				}
			},
			error: function(XMLHttpRequest , error , status ){
				alert("网络错误，请稍后再尝试" + status );
				return false;
			}
		});
		return false;
	});
	// 城市级联
	function loadArea(cityId,cityType){
		$.post("{:U('User/getArea')}",{'cityId':cityId},function( data ){
			if( cityType == 'sheng'){
				$("#"+cityType).html('<option value="0">--市--</option>');
				$("#shi").html('<option value="0">--县/区/镇--</option>');
			}else if( cityType == "shi"){
				$("#"+cityType).html('<option value="0">--县/区/镇--</option>');
			}
			if( cityType != 'null' ){
				$.each(data,function(index,value){
					opt = $("<option/>").text(value['city_name']).attr("value",value['city_id']);
					$("#"+cityType).append(opt);
				});
			}
		},"json");
	}
</script>
</html>