{:W('Common/htsy_top')}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_dingdan.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/ht_ddgl_zadd.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zhezhao.css">
<style>
.my_dind10 td:nth-child(1) span, .my_dind10 td:nth-child(2) span:hover{
  color:#103975;
}
</style>
<div class="ht_in1">
	<div class="ht_in10">
		<span >
			订单管理
		</span>
	</div>

	<div class="ht_content">
		
     <ul class="htddgl_1" >
      <li><a href="#"  onclick="javascript:window.location.href='{:U('Homeuser/dingdan_guanli')}'">新订单</a></li>
      <li><a href="#" class="htddgl_yg" style="color:#1f61c3;" onclick="javascript:window.location.href='{:U('Homeuser/zaizu_dingdan')}'">维修订单</a></li>
     </ul>


     <ul class="htddgl">
     	<li><a href="#">在租订单（0）</a></li>
     	<li><a href="#">维修订单（0）</a></li>
     	<li><a href="#">退租订单（0）</a></li>
     </ul>
		
		
      <table class="my_dind_box" style="height:100%;">
       <thead>
          <tr class="my_dingd12" style="height:52px;font-size:14px;">
            <th>设备</th>
            <th>订单数量</th>
            <th>最低租期</th>
            <th>发起时间</th>
            <th>租金状态</th>
            <th>操作</th>
          </tr>
        </thead>
         <tbody>
          <tr class="my_dind190"><td colospan="5"></td></tr>
           <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >待支付</td>
             <td>
            </td>

         </tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>

         <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >已支付</td>
             <td>
            </td>
         </tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>
         
         
         <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >待支付</td>
             <td>
             	<div class="myht_dd qrwxdd"> 确认维修</div>
            </td>

         </tr>
         <tr class="my_dind199"><td colospan="5">问题备注：电磁炉按钮功能不管用了。</td></tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>

<tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >待取货</td>
             <td>
            </td>

         </tr>
          <tr class="my_dind199"><td colospan="5">问题备注：电磁炉按钮功能不管用了。</td></tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>
         
         <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >待取货</td>
             <td>
            </td>

         </tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>

         <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >已取货</td>
             <td>
             	<div class="myht_dd">  返还押金</div>
            </td>
         </tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>
         
         
          <tr class="my_dind10">
            <td colspan="5">下单日期：2017-10-25  &nbsp;&nbsp;&nbsp;&nbsp;订单号：<span style="color:red;">1502223331115</span></td>
            <td>
            <a  href="{:U('Homeuser/dingdan_xiangqing')}" class="ddglxq"><span >查看订单详情</span></a>
            </td>
          </tr>
         <tr class="my_dind11">
            <td class="my_dingd15" style="width:395px;cursor:pointer;">
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
              <div class="my_dingdan16">
                <span>
                  关于网站改版的公告关于网站改版的公告关于网站改版的公告关于网站改版的
                </span>
              </div>  
            </td>
            <td>  
             10
            </td>
            <td >
              30
            </td>
            <td >
               2017.10.31
            </td>
            <td >已完成
            </td>
             <td>
             	<div class="myht_dd scdd"> 删除订单</div>
            </td>
         </tr>
         <tr class="my_dind190"><td colospan="5"></td></tr>
        
        </tbody>
      </table>
      
     <ul class="message_fy">
      <li><a class="xdbh" href="#1">上一页</a></li>
      <li><a class="xdbh xdbh_on" href="#1">1</a></li>
      <li><a class="xdbh" href="#1">2</a></li>
      <li><a class="xdbh" href="#1">3</a></li>
      <li><a class="xdbh" href="#1">4</a></li>
      <li><a class="xdbh" href="#1">5</a></li>
      <li><a class="xdbh" href="#1">...</a></li>
      <li><a class="xdbh" href="#1">20</a></li>
      <li><a class="xdbh" href="#1">下一页</a></li>
    </ul>
    
    
    
    </div>
  
</div>


<div class="zhezhao" style="display:none;">
  <div class="zz_nr" style="display:block;">
	  <div class="zz_nr1">
		<span class="wxts">温馨提示<span>
		<span class="scqr">×</span>
	  </div>
	  <div class="zz_nr2" style="line-height:146px;height:146px;display:block;">
		您是否确认维修成功?			
	  </div>
	  <div class="zz_nr3" >
			<a href="#wss" class="tyjs0">确认</a>
			<a href="#wss" class="tyjs">取消</a>	
	  </div>  
	</div>
</div>
<script src="__PUBLIC__/Home/js/szgd.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/fen_ye.js">
</script>
<script type="text/javascript">
	var kd=document.body.clientWidth;
	var gd=window.screen.height-244;
	var zkd=kd-256;
	$(".ht_in1").css("width",zkd);

$(".htsy_top_yd").css("top","0px");


	$(".htsy_2 li").eq(0).css("background","#3E4F65");

	$(".htsy_2 li").eq(0).siblings().css("background","none");
	$(".htsy_2 li div").eq(0).css("background","url('__PUBLIC__/Home/image/htsy_2.png') no-repeat 0px 0px");
	$(".htsy_2 li div").eq(0).siblings().css("background","none");
	

    
    
   
	$(".htddgl li a").each(function(index){
		
		
		
		
		var a = new Array(2,3,4,5,6);
    			
    			for(var j=0; j<a.length;j++){
	    				$(".my_dind10").eq(a[j]).css("display","none");
	    				$(".my_dind11").eq(a[j]).css("display","none");
	    				$(".my_dind190").eq(a[j]).css("display","none");
	    				
    		    }
                $(".my_dind10").eq(0).css("display","table-row");
    			$(".my_dind11").eq(0).css("display","table-row");
    			$(".my_dind190").eq(0).css("display","table-row");
    			$(".my_dind10").eq(1).css("display","table-row");
    			$(".my_dind11").eq(1).css("display","table-row");
    			$(".my_dind190").eq(1).css("display","table-row");
		$(".my_dind199").css("display","none");
		
		
		$(this).click(function(){
			
			$(".spxq").css("display","none");
	   	  	$(".message_fy").css("display","table");
	   	  	$(".my_dind_box").css("display","table");
			
			
			$(this).css("color","#1f61c3").css("borderBottom","1px solid #1f61c3");
			var cd=3;
    		for(var j=0; j<cd;j++){
    			if(index!=j){
    				$(".htddgl li a").eq(j).css("color","black").css("borderBottom","none");
    			}
    		}
    		if(index==0){
    		   $(".my_dind199").css("display","none");
    			var a = new Array(2,3,4,5,6);
    			
    			for(var j=0; j<a.length;j++){
	    				$(".my_dind10").eq(a[j]).css("display","none");
	    				$(".my_dind11").eq(a[j]).css("display","none");
	    				$(".my_dind190").eq(a[j]).css("display","none");
	    				
    		    }
                $(".my_dind10").eq(0).css("display","table-row");
    			$(".my_dind11").eq(0).css("display","table-row");
    			$(".my_dind190").eq(0).css("display","table-row");
    			$(".my_dind10").eq(1).css("display","table-row");
    			$(".my_dind11").eq(1).css("display","table-row");
    			$(".my_dind190").eq(1).css("display","table-row");
    		}
    		else if(index==1){
    			$(".my_dind10").eq(2).css("display","table-row");
    			$(".my_dind11").eq(2).css("display","table-row");
    			$(".my_dind190").eq(2).css("display","table-row");
    			$(".my_dind10").eq(3).css("display","table-row");
    			$(".my_dind11").eq(3).css("display","table-row");
    			$(".my_dind190").eq(3).css("display","table-row");
    			
    			$(".my_dind199").css("display","table-row");
    			var a = new Array(0,1,4,5,6);
    			for(var j=0; j<a.length;j++){
	    				$(".my_dind10").eq(a[j]).css("display","none");
	    				$(".my_dind11").eq(a[j]).css("display","none");
	    				$(".my_dind190").eq(a[j]).css("display","none");
    		    }
    		}
    		else if(index==2){
    			 $(".my_dind199").css("display","none");
    			$(".my_dind10").eq(4).css("display","table-row");
    			$(".my_dind11").eq(4).css("display","table-row");
    			$(".my_dind190").eq(4).css("display","table-row");
    			$(".my_dind10").eq(5).css("display","table-row");
    			$(".my_dind11").eq(5).css("display","table-row");
    			$(".my_dind190").eq(5).css("display","table-row");
    			$(".my_dind10").eq(6).css("display","table-row");
    			$(".my_dind11").eq(6).css("display","table-row");
    			$(".my_dind190").eq(6).css("display","table-row");
    			var a = new Array(0,1,2,3);
    			for(var j=0; j<a.length;j++){
	    				$(".my_dind10").eq(a[j]).css("display","none");
	    				$(".my_dind11").eq(a[j]).css("display","none");
	    				$(".my_dind190").eq(a[j]).css("display","none");
    		    }
    		}
		})
	})
	
	$(".qrwxdd").each(function(index){
		$(this).click(function(){
			$(".zhezhao").css("display","block");
			$(".zz_nr2").text('您是否确认维修成功？');
		})
	});
	$(".scdd").each(function(index){
		$(this).click(function(){
			$(".zhezhao").css("display","block");
			$(".zz_nr2").text('确认删除该订单吗？');
		})
	});
	
	$(".tyjs0").click(function(){
		$(".zhezhao").css("display","none");
	});
	$(".tyjs").click(function(){
		$(".zhezhao").css("display","none");
	});
	$(".scqr").click(function(){
		$(".zhezhao").css("display","none");
	});
	
</script>
</body>
</html>