{:W('Common/htsy_top')}
 <link rel="stylesheet" href="__PUBLIC__/Home/css/reset.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/style_rl.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/htsy_index.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_zulin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zhezhao.css" />
<style media="screen">
	h1{font-size: 26px;}
	p{font-size: 14px; margin-top: 10px;}
	pre{background:#eee;border:1px solid #ddd;border-left:4px solid #f60;padding:15px;margin-top: 15px;}
	h2{font-size: 20px;margin-top: 20px;}
	.case{display:inline-block;}

</style>
<div class="ht_in1">
	<div class="ht_in10">
		<span >
			账户明细
		</span>
	</div>

  <div class="ht_content">	
  	
  	<ul class="htddgl_1" >
      <li><a href="#"  onclick="javascript:window.location.href='{:U('Homeuser/zhanghu_guanli')}'">账户管理</a></li>
      <li><a href="#" class="htddgl_yg" style="color:#1f61c3;" onclick="javascript:window.location.href='{:U('Homeuser/zhanghu_mingxi')}'">账户明细</a></li>
      <li><a href="#" onclick="javascript:window.location.href='{:U('Homeuser/fq_tx')}'">我要提现</a></li>
      <li><a href="#" onclick="javascript:window.location.href='{:U('Homeuser/tixian_jilu')}'">提现记录</a></li>
     </ul>




  	 <ul class="htddgl">
     	<li><a href="#">全部</a></li>
     	<li><a href="#">收入</a></li>
     	<li><a href="#">支出</a></li>
     </ul>
  	
  	
  	<div class="zhmx1">
  		时间
  		
  		<div class="case">
			<div class="calendarWarp">
				<input type="text" name="date" class='ECalendar' id="ECalendar_case1"	placeholder="请选择日期"/>
			</div>
        </div> 
        
        
  		<span class="zhmx3">至 </span> 
  		
  		<div class="case">
			<div class="calendarWarp">
				<input type="text" name="date" class='ECalendar' id="ECalendar_case2"	placeholder="请选择日期"/>
			</div>
        </div> 
        
        
  		<span class="zhmx5 zhmx5_dj">今日 </span> 
  		<span class="zhmx5">本周 </span> 
  		<span class="zhmx5">本月 </span>
  		
  		<select class="zhmx6">
  			<option>用户名</option>
  			<option>订单号</option>
  		</select>
  		
  		<input type="text" class="zhmx7"  placeholder="请输入关键字" />
  		
  		<a href="#123435" class="zhmx8">
  			查询
  		</a>
  	</div>
  	

  	
	<div class="wdz2">
	 	 <br/>
	 <table >
	 	<thead>
	 		<tr class="wdz21">
	 			<td>
	 				用户名
	 			</td>
	 			<td>
	 				订单号
	 			</td>
	 			<td>
	 				账变类型
	 			</td>
	 			<td>
	 				金额
	 			</td>
	 			<td>
	 				时间
	 			</td>
	 			<td>
	 				操作
	 			</td>
	 		</tr>
	 	</thead>
	 	<tbody class="wdz22">
	 		<tr >
	 			<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			<td>
	 				2017/10/31 21:36:52
	 			</td>
	 			<td>
	 				<a href="{:U('Homeuser/zhmx_ckxq')}" class="zhmx99">查看详情</a>
	 			</td>
	 		</tr>
	 		<tr >
	 				<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">+</span>￥3000.00
	 			</td>
	 			<td>
	 				2017/10/31 21:36:52
	 			</td>
	 			<td>
	 				<a href="{:U('Homeuser/zhmx_ckxq')}" class="zhmx99">查看详情</a>
	 			</td>
	 		</tr>
	 		<tr >
	 				<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">+</span>￥3000.00
	 			</td>
	 			<td>
	 				2017/10/31 21:36:52
	 			</td>
	 			<td>
	 				<a href="{:U('Homeuser/zhmx_ckxq')}" class="zhmx99">查看详情</a>
	 			</td>
	 		</tr>
	 		<tr >
	 				<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			<td>
	 				2017/10/31 21:36:52
	 			</td>
	 			<td>
	 				<a href="{:U('Homeuser/zhmx_ckxq')}" class="zhmx99">查看详情</a>
	 			</td>
	 		</tr>
	 	</tbody>
	 </table>
	 </div>
	 
	 <ul class="message_fy">
      <li><a class="xdbh " href="#">上一页</a></li>
      <li><a class="xdbh xdbh_on" href="#">1</a></li>
      <li><a class="xdbh" href="#">2</a></li>
      <li><a class="xdbh" href="#">3</a></li>
      <li><a class="xdbh" href="#">4</a></li>
      <li><a class="xdbh" href="#">5</a></li>
      <li><a class="xdbh" href="#">...</a></li>
      <li><a class="xdbh" href="#">20</a></li>
      <li><a class="xdbh" href="#">下一页</a></li>
    </ul>
	 
	 
   </div>


</div>


	
	
</div>
<!--未查询到结果  3秒后自动消失-->
<div class="zhezhao" style="display:none;">

	<div class="zz_nr_fbcg" style="">
	  <div class="zdsc">
	  	您的申请已经提交，
我们会在1个工作日内处理
	  </div>
	   
	  <div class="zz_gbtk" >
			关闭
	  </div> 
	</div>
	
</div>


<script src="__PUBLIC__/Home/js/szgd.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/fen_ye.js"></script>
<script src="__PUBLIC__/Home/js/jquery-3.1.1.min.js"></script>
<script src="__PUBLIC__/Home/js/Ecalendar.jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
			$("#ECalendar_case1").ECalendar({
					 type:"date",
					 skin:"#1F61C3",
					 offset:[0,2]
			});
			$("#ECalendar_case2").ECalendar({
					 type:"date",
					skin:"#1F61C3",
					 offset:[0,2]
			});
			
	})
</script>


<script type="text/javascript">
	var kd=document.body.clientWidth;
	var gd=window.screen.height-244;
	var zkd=kd-256;
	$(".ht_in1").css("width",zkd).css("height",gd);
	
$(".htsy_top_yd").css("top","138px");



	$(".htsy_2 li").eq(3).css("background","#3E4F65");

	$(".htsy_2 li").eq(3).siblings().css("background","none");
	$(".htsy_2 li div").eq(3).css("background","url('__PUBLIC__/Home/image/htsy_2.png') no-repeat 0px 0px");
	$(".htsy_2 li div").eq(3).siblings().css("background","none");
	
	
	
	$(".htddgl li a").each(function(index){
		$(this).click(function(){
		    $(".spxq").css("display","none");
	   	  	$(".message_fy").css("display","table");
	   	  	$(".my_dind_box").css("display","table");
			$(this).css("color","#1f61c3").css("borderBottom","1px solid #1f61c3");
			var cd=3;
    		for(var j=0; j<cd;j++){
    			if(index!=j){
    				$(".htddgl li a").eq(j).css("color","black").css("borderBottom","none");
    			}
    		}
    		
		})
	})
	
	
	
	$(".zhmx5").each(function(index){
		$(this).click(function(){
			$(this).addClass("zhmx5_dj");
			$(this).siblings().removeClass("zhmx5_dj");
		})
	})
	
	//查询结果为空时，页面提示：没有符合条件的记录，请更改查询条件。
	$(".zhmx8").click(function(){
		$(".zhezhao").css("display","block");
		$(".zdsc").text('没有符合条件的记录，请更改查询条件。');

		tyxdf();
		
	})
function tyxdf(){
 $(".zhezhao").click(function(){
  	 $(".zhezhao").css("display","none");
  })
}	
</script>
</body>
</html>