{:W('Common/htsy_top')}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_dingdan.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/ht_ddgl_zadd.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_zulin.css" />
<style>

</style>
<div class="ht_in1">
	<div class="ht_in10">
		<span >
			账户明细/查看详情
		</span>
	</div>

<div class="ht_content">
     <!--订单详情-->
   <div class="spxq" style="display:block;">
   	
   	<div class="spxq1" >商品详情</div>
   	
    
    
    
    <table class="spxq0" >
    	<tr class="spxq10" style="height:40px;">
            <td>商品图片</td>
            <td>
            商品名称
            </td>
            <td>
            单台日租金
            </td>
            <td>
            单台押金
            </td>
            <td>
            数量
            </td>
          </tr>
         <tr class="spxq12">
            <td>
              <img src="__PUBLIC__/Home/image/dd_js1.jpg" />
            </td>
            <td style="padding:0px 70px;width:120px;">  
            傲笛电磁炉800W一人一锅小火锅小火锅...
            </td>
            <td >
               2元/天
            </td>
            <td >
               365元
            </td>
            <td >
               10台
            </td>
         </tr>

    </table>
    
    <table class="spxq2" >
    	<tr class="spxq20" >
            <td colspan="2">订单信息</td>
          </tr>
         <tr class="spxq21">
            <td>
              <ul class="spxq22">
       	  	  	<li>订单号：</li>
       	  	  	<li>下单日期：</li>
       	  	  	<li>订单状态：</li>
       	  	  	<li>最低租期：</li>
       	  	  </ul>	
            </td>
            <td>
              <ul class="spxq23">
       	  	  	<li>1765523353</li>
       	  	  	<li>2017.10.31   12:30:10</li>
       	  	  	<li>退租中</li>
       	  	  	<li>30天</li>
       	  	  </ul>	
            </td>
         </tr>

    </table>
    
    
    <table class="spxq2" >
    	<tr class="spxq20" >
            <td colspan="2">买家信息</td>
          </tr>
         <tr class="spxq21">
            <td>
              <ul class="spxq22">
       	  	  	<li>用户名：</li>
       	  	  	<li>联系电话：</li>
       	  	  	<li>收货地址：</li>
       	  	  </ul>	
            </td>
            <td>
              <ul class="spxq23">
       	  	  	<li>1765523353</li>
       	  	  	<li>1765523353</li>
       	  	  	<li>北京市大兴区永昌北路13号</li>
       	  	  </ul>	
            </td>
         </tr>

    </table>
    
    
    <table class="spxq2" >
    	<tr class="spxq20" >
            <td colspan="2">支付信息</td>
          </tr>
          <tr class="spxq21">
            <td>
              <ul class="spxq22">
       	  	  	<li>单台押金：</li>
       	  	  	<li>数量：</li>
       	  	  	<li>总计押金：</li>
       	  	  </ul>	
            </td>
            <td>
              <ul class="spxq23">
       	  	  	<li>¥300.00</li>
       	  	  	<li>10</li>
       	  	  	<li>¥3000.00</li>
       	  	  </ul>	
            </td>
         </tr>
         <tr class="spxq21" style="border-top:1px dashed #D6D6D6;">
           <td>
              <ul class="spxq22">
       	  	  	<li>单台押金：</li>
       	  	  	<li>数量：</li>
       	  	  	<li>总计押金：</li>
       	  	  </ul>	
            </td>
            <td>
              <ul class="spxq23">
       	  	  	<li>¥300.00</li>
       	  	  	<li>10</li>
       	  	  	<li>¥3000.00</li>
       	  	  </ul>	
            </td>
         </tr>
    </table>
    
    <table class="spxq2" >
    	<tr class="spxq20" >
            <td colspan="2">账单还款信息</td>
         </tr>
         
    </table>
    
    
   <div class="wdz2">
	 	 <br/>
	 <table >
	 	<thead>
	 		<tr class="wdz21">
	 			<td>
	 				交易单号
	 			</td>
	 			<td>
	 				时间
	 			</td>
	 			<td>
	 				租金
	 			</td>
	 			<td>
	 				状态
	 			</td>
	 			
	 		</tr>
	 	</thead>
	 	<tbody class="wdz22">
	 		<tr >
	 			<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			
	 		</tr>
	 		<tr >
	 			<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			
	 		</tr>
	 		<tr >
	 			<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			
	 		</tr>
	 		<tr >
	 			<td >
	 			  1234545667
	 			</td>
	 			<td>
	 			 1234545667
	 			</td>
	 			<td>
	 				押金返还
	 			</td>
	 			
	 			<td>
	 				<span class="zhmx66">-</span>￥3000.00
	 			</td>
	 			
	 		</tr>
	 	</tbody>
	 </table>
	 </div> 
    
    
    <ul class="message_fy">
      <li><a class="xdbh " href="#">上一页</a></li>
      <li><a class="xdbh xdbh_on" href="#">1</a></li>
      <li><a class="xdbh" href="#">2</a></li>
      <li><a class="xdbh" href="#">3</a></li>
      <li><a class="xdbh" href="#">4</a></li>
      <li><a class="xdbh" href="#">5</a></li>
      <li><a class="xdbh" href="#">...</a></li>
      <li><a class="xdbh" href="#">20</a></li>
      <li><a class="xdbh" href="#">下一页</a></li>
    </ul>
    
    
    
  </div> 
   
   
    
    </div>
  
</div>



<script src="__PUBLIC__/Home/js/szgd.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/fen_ye.js">
</script>
<script type="text/javascript">
$(".htsy_top_yd").css("top","270px");



	$(".htsy_2 li").eq(5).css("background","#3E4F65");

	$(".htsy_2 li").eq(5).siblings().css("background","none");
	$(".htsy_2 li div").eq(5).css("background","url('__PUBLIC__/Home/image/htsy_2.png') no-repeat 0px 0px");
	$(".htsy_2 li div").eq(5).siblings().css("background","none");
	
</script>
</body>
</html> 