<include file="User:my_top" />
 <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_bx_ts_pj.css"> 
 <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zhezhao.css" />
 <script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/base_64.js"></script>
<style type="text/css">
</style>

<div class="mypj">
   <div class="mypj1">
        <div  class="mypj2">
          <div class="mypj6">
             租赁方申请报修
          </div>


<div class="mypj61">
            <div class="mypj62">
              <span><span class="hszt">*</span>&nbsp;报修电话：</span>
            </div>
            <div class="mypj63" style="margin-top:10px;">
              &nbsp;&nbsp;&nbsp;&nbsp;<span>{$orders['plgox_tel']}</span>
            </div>
          </div>
<div style="clear:both;"></div>

          <div class="mypj61">
            <div class="mypj62">
              <span><span class="hszt">*</span>&nbsp;报修原因：</span>
            </div>
            <div class="mypj63">
	            <div class="my_bx1">
	            	<select name="select_name" class="select_name">
	            		<option value="0">请选择报修原因</option>
	            		<volist name="selecteds" id="selecteds_">
	            			<option value="{$selecteds_['select_id']}">{$selecteds_['select_name']}</option>
	            		</volist>
	            	</select>
	            </div>
			</div>
          </div>
  
<div style="clear:both;"></div>

<div class="mypj61">
            <div class="mypj62">
              <span><span class="hszt">*</span>&nbsp;报修说明：</span>
            </div>
            <div class="mypj63">
             <textarea onfocus="this.value=''; this.onfocus=null;" class="repair_content"  style="height:140px;">请描述保修说明(200字以内)
               </textarea> 
            </div>
          </div>
<div style="clear:both;"></div>

          <div class="mypj61">
            <div class="mypj62">
              <span>上传凭证：</span>
            </div>
            <div class="mypj63 sctp">
            	<img class="pjtp_sc" src="__PUBLIC__/Home/image/my_top2.jpg" id="gbtpl"/>
				<input type="file" name="repair_img[]" id="explodeFileds" style="display:none">
				<b style="color:red">请上传3mb以内的图片</b>
            </div>  
            <div style="clear:both;"></div>
            <div class="my_baox">上传凭证照片</div>  
          </div>
          
<div style="clear:both;"></div>

   <div class="mypj68">提交申请</div>

     </div>
   </div>
 </div>
 
<!--遮罩-->
<div class="zhezhao"  style="display:none;">

  
  <div class="zz_nr_fbcg" style="display:none;">
	  <div class="zdsc">
	  	提交成功，平台会核实处理
	  </div>
	   
	  <div class="zz_gbtk" >
			关闭
	  </div> 
	</div>
  
  
  
</div> 
 
 
 <!--上传图片-->
<script type="text/javascript" src="__PUBLIC__/Home/js/cropbox.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Home/js/my_top.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/ajaxfileupload.js"></script>
<script type="text/javascript">
// 图片与浏览
$(".pjtp_sc").click(function(){
	$("#explodeFileds").click();
	$("#explodeFileds").off("change");
	$("#explodeFileds").on("change",function(){
		// 判断文件的上传大小
		if( $(this)[0].files[0].size >= "3145728" ) {
			tkcx("上传的文件已经超过了网站的标准!");
			return false;
		}
		// 判断文件的上传后缀
		var imgPath = $(this).val();
		var imgPaths = imgPath.substring(imgPath.indexOf("."));
		var imgSuffix = imgPaths.substring(1);
		if( imgSuffix != "jpg" && imgSuffix != "jpeg" && imgSuffix != "png" && imgSuffix != "gif" && imgSuffix != "bmp" ){
			tkcx("上传的图片后缀必须是：jpg|png|jpeg|bmp|gif");
			return false;
		}
		// 执行与浏览
		var objUrl = getUploads(this.files[0]);
		if( objUrl ){
			$(".pjtp_sc").attr("src",objUrl);
		}
	});
});
function getUploads( files ){
	url = null;
	if( window.createObjectURL !== undefined ){
		url = window.createObjectURL(files);
	}else if( window.URL !== undefined ){
		url = window.URL.createObjectURL(files);
	}else if( window.webkitURL != undefined ){
		url = window.webkitURL.createObjectURL(files);
	}
	return url;
}
//上传图片
$(window).load(function() {
var dsq="";	
		//提交提醒
	$(".mypj68").click(function(){
		if( $(".select_name").val() == '0' ){
			//alert("请选择报修原因!");
			tkcx("请选择报修原因!");
		}
		$.ajaxFileUpload({
			type: "POST",
		dataType: "JSON",
		fileElementId:['explodeFileds'],
		secureuri: false,
		   async: true,
			 url: "{:U('User/Ajax_order_BX_TS_PJ')}",
			data: { 'order_baoxiu':"{$baoxiu_id}" , "repair_reason":$(".select_name").val() , 'repair_content':$('.repair_content').val()  },
		 success: function( data ){
		 	var reg = /<pre.+?>(.+)<\/pre>/g;
			var result = data.match(reg);
			data = RegExp.$1;
			var obj = eval('('+data+')');
			if( obj.status == 2000 ){

			   tkcx("提交成功，商家1-3个工作日内处理");
			}
			else if( obj.status == -2001 ){
		 		tkcx(obj.message);
		 	}else if( obj.status == -2000 ){
		 		tkcx(obj.message);
		 	}
		 },
		 error: function( XMLHttpRequest , status , error ){
		 	tkcx("出现错误,错误位置在：" + status);
		 }
		});
	})

 function tkcx(message){
  	    $(".zhezhao").css("display","block");  
		$(".zz_nr_fbcg").css("display","block");
		$(".zdsc").text(message);
		
         tkgb();
		
		
  }	
	
	
		 //自动消失(弹框)
	function tkgb(){
	  $(".zhezhao").click(function(){
		  
	  	 	 $(".zhezhao").css("display","none");
	  	     $(".zz_nr_fbcg").css("display","none"); 
	  	     if($(".zdsc").text()=="提交成功，商家1-3个工作日内处理"){
                     location.href="{:U('User/my_dingdan')}";
	  	     }
	  	     return false;
	  });
	}	
	
});


</script>

<script type="text/javascript">
   	    my_top(0,"0px","");

  $(".my_xlcd").click(function(){
  	 $(".my_bax1").css("height","150px");
  })

  $(".my_bax1 li").each(function(index){
  	$(this).click(function(){
	  $(".my_bxnr").html($(this).html());
      $(".my_bax1").css("height","0px");	  
  });
})
</script>
{:W('Common/footer')}
</body>
</html>
