<include file="User:my_top" />

<style type="text/css">
.my_zls{
	margin-top:18px;
	font-size:14px;
	line-height:40px;
	height:40px;
}
.my_zls a{
	display:inline-block;
	height:37px;
	width:100px;
	text-align:center;
	line-height:35px;
	font-size:14px;
	color:white;
	margin-top:10px;
	margin-left:33px;
	background-color:#1F61C3;
	
}
.my_zls a:hover{
	background-color:#1b53a6;
}
.my_zls1{
	margin-top:30px;
	font-size:14px;
}
.myqyrz2{
	width:756px;
	height:65px;
	margin-top:48px;
}
.myqyrz2 li{
	width:126px;
	height:65px;
	float:left;
}
.myqyrz210{
	height:7px;
	width:165px;
	background-color:#1F61C3;
}

.myqyrz211{
	display:block;
	height:15px;
	width:15px;
	background-color:#1F61C3;
	border-radius: 50%;
	margin:0 auto;
	color:white;
	font-size:14px;
	text-align:center;
	line-height:15px;
	margin-top:-12.5px;
}


.myqyrz22{
	font-size:14px;
	color:black;
	width:165px;
	text-align: center;
	margin-top:20px;
}
.myqyrz3{
	color:#1F61C3;
	font-size:14px;
	margin-top:50px;
}
.myqyrz5{
	margin-top:20px;
	font-size:12px;
}
.myqyrz5 p{
	line-height:20px;
}
</style>

<div class="mypj" style="padding-bottom:30px;">
   <div class="mypj1">
      <div  class="mypj2">
	      <div class="mypj6">
	                 成为租赁商
	      </div> 
	    <div>
          <div class="my_zls">
	                 企业用户才可以成为租赁商，请先申请企业认证<a href="#">立即申请</a>
	      </div> 
	      <div class="my_zls1">
	                 申请进度
	      </div>   
          <ul class="myqyrz2">
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			提交申请
	         	</div>  
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			√
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			审核中
	         	</div>
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			通过企业用户认证
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			签署租赁商协议
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			签署中
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			成为租赁商
	         	</div> 
	         </li>
	      </ul> 
	      
	      <div class="myqyrz3">
	      	什么是企业认证？
	      </div>
	      <div class="myqyrz5">
	         	<p>魄力餐厨网站是定位于B2B（企业与企业）平台的商业模式，网站用全新的经营理念，致力于帮助客户企业极大的节省投入成本、降低前期投资、运营风险。</p>	
	         	<p>基于此商业模式，共享租赁中租赁方和承租方都必须是企业用户，如果您想发布或承租设备，请先进行企业认证，以保证平台用户的专业性、真实性。企业认证必须为真实有效的信息，否则将不可享受租赁服务或成为租赁商，企业认证资料填写越详细，魄力餐厨网站才能更精确为您提供专属服务，匹配相对应的优质商品。</p>	
	      </div>  
	  </div>
	  
	  
	   <div>
          <div class="my_zls">
	                 您还未成为租赁商<a href="#">立即申请</a>
	      </div> 
	      <div class="my_zls1">
	                 申请进度
	      </div>   
          <ul class="myqyrz2">
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			提交申请
	         	</div>  
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			√
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			审核中
	         	</div>
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			通过企业用户认证
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			签署租赁商协议
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			签署中
	         	</div> 
	         </li>
	          <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210" style="background-color:#EEEEEE;">
	         		</div>
	         		<div class="myqyrz211" style="background-color:#EEEEEE;">
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			成为租赁商
	         	</div> 
	         </li>
	      </ul> 
	      
	      <div class="myqyrz3" style="margin-top:40px;">
	      	什么是租赁商？
	      </div>
	      <div class="myqyrz5">
	         	<p>租赁是定位于B2B（企业与企业）平台的商业模式，您只有通过企业认证后，才可以成为租赁商，或者租赁商品。</p>	
	         	<p>无限魄力将根据您提交的信息为为您服务的依据，请务必填写真实、有效、详尽的信息。</p>	
	      </div>  
	  </div>
	  
	  
     </div>
   </div>
 </div>


 
<script type="text/javascript" src="__PUBLIC__/Home/js/my_top.js"></script>
<script type="text/javascript">
   my_top(2,"100px","企业认证");
   
    $(".wodegb").html("企业认证");
</script>
{:W('Common/footer')}
</body>
</html>
