<include file="User:my_top" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_update.css">
<style type="text/css">

</style>

<div class="mypj">
   <div class="mypj1">
      <div  class="mypj2" style="padding-bottom:35px;">
	      <div class="mypj6">
	                 基本资料
	      </div>   
	      <div class="myqyrz1">
	                 修改邮箱
	      </div>   
         
	      
	      
	       <!--资金密码弹框-->
  <div class="zjmmk" style="display:block;">
  	 <div class="zjmmk1">
  	 	修改邮箱
  	 </div>
  	 <div class="zjmmk2">
  	 	
  	 	
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">用户名：</div>
  	 		<div class="zjmmk21_ri">无限魄力</div>
  	 	</div>
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">设置新密码：</div>
  	 		<div class="zjmmk21_ri">
  	 			<input type="text" class="zjmm_bdk" placeholder="请输入邮箱"/> 	 			
  	 		</div> 	 	
  	 	</div>
  	 	
  	 	
  	 	<div class="zjmmk22">
  	 		<div class="zjmmk22_next">
  	 			下一步
  	 		</div>
  	 		
  	 	</div>
  	 	
  	 </div>
   </div> 
	      
	      
	      
	      
	      <br/><br/>
     </div>
   </div>
 </div>


 
<script type="text/javascript" src="__PUBLIC__/Home/js/my_top.js"></script>
<script type="text/javascript">

 my_top(4,"200px","企业认证");
 
</script>
{:W('Common/footer')}
</body>
</html>
