<include file="User:my_top" />
<title>{$setTitle}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/my_update.css">
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<style type="text/css">

</style>

<div class="mypj">
   <div class="mypj1">
      <div  class="mypj2" style="padding-bottom:35px;">
	      <div class="mypj6">
	                 基本资料
	      </div>   
	      <div class="myqyrz1">
	                 修改登录密码
	      </div>   
          <ul class="myqyrz2" style="margin:0 auto;margin-top:70px;">
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210 myqyrz210_dj">
	         		</div>
	         		<div class="myqyrz211 myqyrz210_dj">
	         			1
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			验证身份
	         	</div>  
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			2
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			修改密码
	         	</div>
	         </li>
	         <li>
	         	<div class="myqyrz21">
	         		<div class="myqyrz210">
	         		</div>
	         		<div class="myqyrz211">
	         			3
	         		</div>         		
	         	</div>
	         	<div class="myqyrz22">
	         			完成
	         	</div> 
	         </li>
	      </ul> 
	      
	      
	       <!--资金密码弹框-->
  <div class="zjmmk" style="display:block;">
  	 <div class="zjmmk1">
  	 	登录密码
  	 </div>
  	 <div class="zjmmk2" style="display:block;">
  	 	
  	 	
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">用户名：</div>
  	 		<div class="zjmmk21_ri">{$member['plgox_user']}</div>
  	 	</div>
  	 	
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">短信验证码：</div>
  	 		<div class="zjmmk21_ri">
  	 			<input type="text" class="zjmm_bdk send_code_val" style="width:190px;"/>
          <div class="zjmm_hqyzm send_code_div">
            <span class="zjmm_hqyzm send_code">获取短信验证码</span>
          </div>
  	 		</div>
  	 	</div>
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">验证码：</div>
  	 		<div class="zjmmk21_ri">
  	 			<input type="text" class="zjmm_bdk img_code" style="width:190px;"/>
  	 			<span class="zjmm_hqyzm"><img src="{:U('App/Checkcode/checkcode')}" alt="" style="width:100px;height:34px;" class="img-responsive" onclick="yzmCode();" id="yzmCodes"></span>
  	 		</div>
  	 	</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/alert.js"></script>
  	 	<script type="text/javascript">
              function yzmCode(){
                  var time = new Date().getTime();
                  $("#yzmCodes").attr('src',"{:U('App/Checkcode/checkcode')}?yzmRand=" + time);
              }
          </script>
  	 	
  	 	<div class="zjmmk22">
  	 		<div class="zjmmk22_le">
  	 			下一步
  	 		</div>
  	 		
  	 	</div>
  	 	
  	 	
  	 </div>
  	 <script type="text/javascript">
              $(".zjmm_bdk").eq(0).change(function(){
                  if( $(this).val() == "" ){
                       alert("手机验证码不能够为空!");
                       $(this).css("border","1px solid red");
                    }else{
                      $(this).css("border","1px solid green");
                       return false;
                    }
              });
             $(".zjmm_bdk").eq(1).change(function(){
                  if( $(this).val() == "" ){
                       alert("图形验证码不能够为空!");
                       $(this).css("border","1px solid red");
                    }else{
                      $(this).css("border","1px solid green");
                       return false;
                    }
              });
          // 发送验证码是首先判断是否为空 
         $(".send_code").click(function(){
             if( $(".img_code").val() == ""  ){
                  alert("图形验证码不能够为空!");
                  $(".img_code").css("border","1px solid red");
                  // $(".img_code").
                  var time = new Date().getTime();
                  $("#yzmCodes").attr('src',"{:U('App/Checkcode/checkcode')}?yzmRand=" + time);
                  return false;
             }else{
                $.post("{:U('User/ajax_paaword')}",{ 'img_code':$(".img_code").val() },function( data ){
                    if( data.status == 2000 ){
                      $.post("{:U('get_AjaxCode')}",function( data ){
                         if( data.status == 2000 ){
                            alert(data.message);
                            // 开始进行发送短信倒计时
                            times = 120;
                            timess = self.setInterval("sendCode();",1000);
                            return false;
                         }else if( data.status == -2001 ){
                            alert(data.message);
                            return false;
                         }
                      },"json");
                    }else if( data.status == -2000 ){
                        alert(data.message);
                        $(".img_code").css("border","1px solid red");
                        return false;
                    }
                },"json");
             }
         });
         var times;
         function sendCode(){
            $(".send_code_div").html("<sapn>剩余("+times+")秒</span>");
            times--;
            if( times < 0 ){
              clearInterval(timess);
              timess=0;
              $(".send_code_div").html("<sapn class='zjmm_hqyzm send_code'>获取验证码</span>");
            }
         }
      </script>
  	 <div class="zjszxmm" style="display:none;">
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">用户名：</div>
  	 		<div class="zjmmk21_ri">{$member['plgox_user']}</div>
  	 	</div>
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">设置新密码：</div>
  	 		<div class="zjmmk21_ri">
  	 			<input type="text" class="zjmm_bdk szmmkj _password" name="_password"/>
  	 			
  	 		</div>
  	 		<img class="find_xsmm findmm1"  src="__PUBLIC__/Home/image/reginster.png" style="cursor:pointer;" onClick="show_pass();"/>
  	 	</div>
  	 	<div class="zjmmk21">
  	 		<div class="zjmmk21_le">重复新密码：</div>
  	 		<div class="zjmmk21_ri">
  	 			<input type="password" class="zjmm_bdk reszmmkj _repassword" name="_repassword" />
  	 			
  	 		</div>
  	 		<img class="find_xsmm findmm2"  src="__PUBLIC__/Home/image/findpass1.png" style="cursor:pointer;" onClick="show_repass();"/>
  	 	</div>
  	 	
  	 	
  	 	<div class="zjmmk22">
  	 		<div class="zjmmk22_next">
  	 			下一步
  	 		</div>
  	 		
  	 	</div>
  	 	
  	 	
  	 	
  	 </div>
  	 
  	 
  	 <div class="zjsz_finish" style="display:none;">
  	 	
  	 	<div class="zjsz_fin_wz">
  	 		恭喜你，您的密码修改完成。正在重新登录.
  	 	</div>
  	 	
  	 	<div class="zjsz_fin_img">
  	 		<img src="__PUBLIC__/Home/image/duihao.png" />
  	 	</div>
  	 	
  	 	
  	 	
  	 </div>
  	 
  	 
  	 
  	 
  	 
  	 
   </div> 
	      
	      
	      
	      
	      <br/><br/>
     </div>
   </div>
 </div>

<!--遮罩-->
<div class="zhezhao" style="display:none;">
	<div class="zz_nr" >
	  <div class="zz_nr1">
		<span style="display:block;float:left;font-size:18px;margin-left:30px;">温馨提示<span>
		<span class="scqr">×</span>
	  </div>
	  <div class="zz_nr2" style="line-height:146px;height:146px;display:block;">
		您已提交申请，系统正正在审核中，请耐心等待。		
	  </div>
	 
	  <div class="zz_nr3" >
			<a href="#wss" class="tyjs0">确认</a>
			<a href="#wss" class="tyjs">取消</a>	
	  </div>  
	</div>		
	

	
	
</div>
 
<script type="text/javascript" src="__PUBLIC__/Home/js/my_top.js"></script>
<script type="text/javascript">

 my_top(4,"200px","企业认证");
 
//下一步（第二步）
$(".zjmmk22_le").click(function(){
    if( $(".send_code_val").val() == "" ){
        alert("短信验证码不能够为空!");
        $(".send_code_val").css("border","1px solid red");
        var time = new Date().getTime();
        $("#yzmCodes").attr('src',"{:U('App/Checkcode/checkcode')}?yzmRand=" + time);
        return false;
    }else if( $(".img_code").val() == "" ){
        alert("图形验证码不能够为空!");
        $(".img_code").css("border","1px solid red");
        var time = new Date().getTime();
        $("#yzmCodes").attr('src',"{:U('App/Checkcode/checkcode')}?yzmRand=" + time);
        return
    }else{
      $(".zjmmk2").css("display","none");
      $(".zjszxmm").css("display","block");
      $(".myqyrz210").eq(1).addClass("myqyrz210_dj");
      $(".myqyrz211").eq(1).addClass("myqyrz210_dj");      
    }
})
// 判断密码是否为空
$("._password").change(function(){
  if( $("._password").val() == "" ){
    $("._password").css("border","1px solid red");
  }else{
    $("._password").css("border","1px solid green");
  }
});
// 判断确认密码是否为空
$("._repassword").change(function(){
  if( $("._repassword").val() == "" ){
    $("._repassword").css("border","1px solid red");
  }else{
    $("._repassword").css("border","1px solid green");
  }
});
//下一步（最后一步）
$(".zjmmk22_next").click(function(){
  // 判断密码是否为空
  if( $("._password").val() == "" ){
    $("._password").css("border","1px solid red");
    return false;
  }else{
    $("._password").css("border","1px solid green");
  }
  // 判断确认密码是否为空
  if( $("._repassword").val() == "" ){
    $("._repassword").css("border","1px solid red");
    return false;
  }else{
    $("._repassword").css("border","1px solid green");
  }
  if( $("._password").val() != $("._repassword").val() ){
      alert("两次输入的密码不一致，请重新输入!");
      $("._password").css("border","1px solid red");
      $("._repassword").css("border","1px solid red");
      return false;
  }else{
      $("._password").css("border","1px solid green");
      $("._repassword").css("border","1px solid green");
      $.post("{:U('Success_sen_code')}",{ "_password": $("._password").val()  },function( data ){
        if( data.status == 2000 ){
          $(".zjszxmm").css("display","none");
          $(".zjsz_finish").css("display","block");
          $(".myqyrz210").eq(2).addClass("myqyrz210_dj");
          $(".myqyrz211").eq(2).addClass("myqyrz210_dj");
          return false;
        }else if( data.status == -2001 ){
          alert(data.message);
          return false;
        }
      },"json");
      return false;
  }
});
//密码眼睛设置	
	function show_pass() {
	if($(".szmmkj").attr("type")=="password"){
		$(".szmmkj").attr("type","text");
		$(".findmm1").attr("src","__PUBLIC__/Home/image/reginster.png");
	}
	else{
		$(".szmmkj").attr("type","password");
		$(".findmm1").attr("src","__PUBLIC__/Home/image/findpass1.png");
	}
}

function show_repass() {
    if($(".reszmmkj").attr("type")=="password"){
		$(".reszmmkj").attr("type","text");
		$(".findmm2").attr("src","__PUBLIC__/Home/image/reginster.png");
	}
	else{
		$(".reszmmkj").attr("type","password");
		$(".findmm2").attr("src","__PUBLIC__/Home/image/findpass1.png");
	}
} 
 
 
</script>
{:W('Common/footer')}
</body>
</html>
