{:W('Common/header')}
<link  rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/sj_center.css"/>



<style type="text/css">
</style>
<div class="sj_banner">
	<img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/Home/image/shop_center1.jpg" />	
</div>

<div class="sjzx">
	
	
	
	<div class="sjzx1">
		
      <div class="sjzx6">
      	 <div class="sjzx61">
      	 	更多租赁商权益保证
      	 </div>
      	 <div class="sjzx62"> 	
      	 </div>
      </div>
		
	  <div class="sjzx10">
	  	入驻魄力餐厨平台，获取行内关注，标准化流程管理
	  </div>	
		
		
	  <ul class="sjzx11">
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center1.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		免费入驻，押金第一时间返还商家，平台不扣任何费用。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center2.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		在线交易，统一管理，流程标准透明，使用方便。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center3.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		专业的厨电行业租赁平台，定位明确，打造圈内市场经济。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center4.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		承租方均为企业用户，芝麻信用担保，最大程度避免无理纠纷。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center5.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		独特的后付押金制度，未来信誉趋势走向的引领者。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center6.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		按天计算租金制，每月定期出账单，每天都可提款，账目清晰。
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx110">
	  	  	<img src="__PUBLIC__/Home/image/sc_center7.png" />
	  	  <div>
	  	  <div class="sjzx111">
	  	  		专属的客服对接人员，一切纠纷平台出面解决，保护租赁商利益。
	  	  </div>
	  	</li>
	  </ul>
	  	
	  	
		
	</div>
	
	
	
	<div class="sjzx2">
		
      <div class="sjzx6">
      	 <div class="sjzx61">
入驻条件
      	 </div>
      	 <div class="sjzx62"> 	
      	 </div>
      </div>	
		
		
	  <ul class="sjzx21">
	  	<li>
	  	  <div class="sjzx210">
	  	  	step 1
	  	  </div>
	  	  <div class="sjzx211">
	  	  	<span>
	  	  		租赁商必须认可魄力餐厨的创新流程和经营理念。
	  	  	</span>
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx210">
	  	  	step 2
	  	  </div>
	  	  <div class="sjzx211">
	  	  	<span>
	  	  		必须是经过企业认证后的餐饮企业。
	  	  	</span>
	  	  </div>	
	  	</li>
	  	<li>
	  	  <div class="sjzx210">
	  	  	step 3
	  	  </div>
	  	  <div class="sjzx211">
	  	  	<span>
	  	  		有良好的服务保障体系，充足的设备供应，能满足客户的需求。
	  	  	</span>
	  	  </div>
	  	</li>
	  	<li>
	  	  <div class="sjzx210">
	  	  	step 4
	  	  </div>
	  	  <div class="sjzx211">
	  	  	<span>
	  	  		企业有良好的信誉，设备保证良好稳定，无假冒伪劣。
	  	  	</span>
	  	  </div>
	  	</li>
	  </ul>
	  	
	  	
		
	</div>
	
	
	
	
	
	
	
	
	<div class="sjzx3">
		
      <div class="sjzx6">
      	 <div class="sjzx61">
入驻流程

      	 </div>
      	 <div class="sjzx62"> 	
      	 </div>
      </div>	
		
		
	 <div class="sjzx31">
	  	 <span class="sjz310">注册平台</span>
	  	 <span class="sjz310">成为平台企业用户</span>
	  	 <span class="sjz310">申请成为租赁商</span>
	  	 <span class="sjz310">工作人员上门签约</span>
	  	 <span class="sjz310">成功入驻</span>
	  </div>
	  
	  <div class="sjzx32_box">
	  	<div class="sjzx32">
	  	  <span>1</span>
	  	  <b style="width:178px;"></b>
	  	  <span>2</span>
	  	  <b style="width:206px;"></b>
	  	  <span>3</span>
	  	  <b style="width:200px;"></b>
	  	  <span>4</span>
	  	  <b style="width:178px;"></b>
	  	  <span >5</span>
	  	 </div>
	  </div>
		
	</div>
	
	
	
	<div class="sjzx5_box">
		
      <div class="sjzx5">您还没有申请入驻租赁商</div>
	  <div class="sjzx5">是否想加入我们，把握商机，共创未来？</div>
	  <a href="{:U('Shopcenter/sj_shengqing')}" class="sjzx51">立即申请</a>
	  
	</div>
	
	
	
	
	
	
	
	
	
	
	
</div>
  	<script type="text/javascript">
 


	</script>



