 <style>
 	.sj_zx{
 		color: #1f61c3;
 		font-size:20px;
 		background-color:white;
 		float: right;
      margin-left: 60px;
      margin-top: 18px;
      line-height: 39px;
       cursor: pointer;
 	}
 </style>
 
 <div class="header_box1">
		<div class="header_middle">
			<div class="header_middle_left">
				<a href="{:U('Index/index')}">
					<img src="__PUBLIC__/Home/image/sj_center2.jpg">
				</a>
			</div>
			<!-- 模糊搜索 -->
			
			<div class="sj_zx">
				专业的厨电设备租赁平台
			</div>	
		</div>
	</div>

