{:W('Common/header')}
<link  rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/sj_center.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zhezhao.css">


<style type="text/css">
</style>
<div class="sj_banner">
	<img class="carousel-inner img-responsive img-rounded" src="__PUBLIC__/Home/image/banner.jpg" />	
</div>
<div class="sjsq">
	<div class="sjsq1">
		<div class="sjsq10">贴心提示</div>
		<div class="sjsq11">如果您准备入驻成为租赁商家，请仔细阅读以下协议，此协议同线下合同拥有同样法律效力。您点击同意后，就代表您已认可协议内所有内容，请悉知。</div>
	</div>
</div>


	
	<div class="sjsq21">
	   <div class="sjsq22">
	   	一、入驻基本条件
	   </div>
	   <div class="sjsq23">
	   	1、租赁商必须认可魄力共享平台模式和理念。
	   </div>
	   <div class="sjsq23">
	   	2、具有租赁经营资质或能力的公司/个人，有较强的实力。
	   </div>
	    <div class="sjsq23">
	   	3、魄力共享对租赁商认证不收取任何费用，成为租赁商后可以免费发布租赁方案。
	   </div>
	   <div class="sjsq23">
	   4、公司租赁商上传营业执照，并且需公司申请人身份证认证，提供信息真实有效。
	   </div>
	    <div class="sjsq23">
	   	5、在当地具有良好的服务保障体系，充足的设备供应，能满足客户的需求
	   </div>
	</div>
	
	
	<div class="sjsq21">
	   <div class="sjsq22">
	   	二、合作方式
	   </div>
	   <div class="sjsq23">
	   	1、入驻租赁商后可以在魄力共享平台发布产品，并对自己发布的商品运营管理。
	   </div>
	   <div class="sjsq23">
	   2、租赁商发布商品质量合格、包装合格、证照齐全的产品，并保证按照平台方要求自行通过平台发布。
	   </div>
	    <div class="sjsq23">
	   3、平台方提供其客户服务系统作为用户统一的咨询、投诉受理中心。
	   </div>
	   <div class="sjsq23">
	   4、平台方负责平台业务整体的市场策划、推广、媒体宣传等。
	   </div>
	    <div class="sjsq23">
	   5、按照网站规定的结算方式结算支付。
	   </div>
	</div>
	
	
	<div class="sjsq21">
	   <div class="sjsq22">
	  三、权利义务
	   </div>
	   <div class="sjsq23">
	   	1、在平台上展示、销售其提供产品，及时更新产品图片、品牌形象、视频等，具有所提供服务及产品的最终拥有权。
	   </div>
	   <div class="sjsq23">
	   2、有权核查平台方互联网经营资质、营业证照等资质文件。
	   </div>
	    <div class="sjsq23">
	   3、具有相关部门颁发的《营业执照》、《税务登记证》、《组织机构代码》及各类商品经营许可证，同时保证提供给平台方的上述相关证明材料真实、合法、可靠，并对其真实性负责。
	   </div>
	   <div class="sjsq23">
	   4、有权对发布的产品进行定价，定价过高超出实际范围所带来的损失自行承担。
	   </div>
	    <div class="sjsq23">
	   5、必须对自己提供的产品质量、包装负责，并随时接受平台方对产品的质量进行检验。如果出现质量问题，应尽快给予解答维修。
	   </div>
	    <div class="sjsq23">
	  6、不得在网站展示、刊登法律法规禁止的信息和内容，亦不得侵害他人的权利（包括但不限于知识产权、肖像权、商标专用权等）。
	   </div>
	   <div class="sjsq23">
	   7、向用户提供商品配送服务，保证配送时间和服务质量。
	   </div>
	    <div class="sjsq23">
	   8、承租商线上支付成功后，甲方须保证1-3个工作日内上门安装机器或与承租商协商在指定的时间内完成设备机器安装。若承租商线上支付后，甲方无法按时提供设备而导致退款造成的损失自行承担。
	   </div>
	   <div class="sjsq23">
	   9、用户需要开取发票时，及时为用户开具商品发票。
	   </div>
	</div>
	
	
	
	<div class="sjsq21">
	   <div class="sjsq22">
	 四、押金制度
	   </div>
	   <div class="sjsq23">
	   1、承租商通过线上交易缴付押金，承租商发起退租申请归还设备时，检查设备完好无异议，押金原路退回到原账户。
	   </div>
	   <div class="sjsq23">
	   2、承租商确认机器安装完毕后，可在商家中心申请提现押金，1-3个工作日到账。
	   </div>
	   
	</div>
	
	
	<div class="sjsq21">
	   <div class="sjsq22">	 
五、交易订单处理
	   </div>
	   <div class="sjsq23">
	   1、及时处理订单信息，对于处理不及时的，平台方通过降信誉、商品展示靠后等处罚。
	   </div>
	   <div class="sjsq23">
	   2、与租户线下交换的任何交易凭证，须留有图片备份或其他形式的备份，以用于出现纠纷时使用。
	   </div>
	   
	</div>
	
	<div class="sjsq21">
	   <div class="sjsq22">	 
六、违约责任
	   </div>
	   <div class="sjsq23">
	   1、任何一方中途退出合作，需提前通知对方。经双方协商一致后方可解除本协议。
	   </div>
	   <div class="sjsq23">
	   2、提供给平台方的价格，如明显高于其他销售渠道或者经销商、代理商的价格，平台保留解除合同的权利。
	   </div>
	   <div class="sjsq23">
	   3、提供的产品出现质量问题，平台方拥有要求退换货、赔偿直接或间接经济损失、解除合作协议的权利。
	   </div>
	   
	</div>
	
	<div class="sjsq21">
	   <div class="sjsq22">	 
七、失信用户处理
	   </div>
	   <div class="sjsq23">
	   1、 不接受失信客户的服务需求。
	   </div>
	   <div class="sjsq23">
	   2、 将失信客户公司信息及相应的申请人个人信息在魄力共享或其他网站公布。
	   </div>
	   <div class="sjsq23">
	   3、 将失信客户公司信息及相应的申请人个人信息提供给第三方机构，包括央行下属征信平台、芝麻信用等征信机构。
	   </div>
	    <div class="sjsq23">
	   5、 向公安机关报案。
	   </div>
	    <div class="sjsq23">
	  6、 向法院起诉，并依照相关法律规定，报请将失信客户的身份信息及相关公司信息至中国人民共和国全国法院被执行人信息网公布。
	   </div>
	</div>
	
	
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	
	
	
</div>



 



