<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{$setTitle}</title>
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap-responsive.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="__PUBLIC__/Common/bootstrap/css/zebra_datepicker.min.css" type="text/css">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/zebra_datepicker.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Common/bootstrap/js/examples.js"></script>
</head>
<body>
<div class="container-fluid">
<ol class="breadcrumb">
<li>当前位置</li>
<li>{$setTitle}</li>
</ol>
<div class="table-responsive">
  <table class="table table-bordered">
  	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">投诉原因：</td>
		<td style="border:none">
			<input type="text" class="form-control tousu_name" style="width:470px;height: 40px" name="tousu_name" value="{$select_content['select_name']}">	
		</td>
	</tr>
	<tr>
		<td style="width:130px;text-align: right;background: #EEEEEE;border-bottom:1px solid #FFFFFF;line-height: 40px">
			
		</td>
		<td style="border:none">
			<eq name="select_content['select_id']" value="">
				<button type="button" class="btn btn-success">确认新增</button>
				<button type="button" class="btn btn-danger">返回上页</button>
				<button type="button" class="btn btn-warning">报修原因列表</button>
			<else />
				<button type="button" class="btn btn-success" value="{$select_content['select_id']}">确认修改</button>
				<button type="button" class="btn btn-info">返回上页</button>
			</eq>
			<button type="button" class="btn btn-primary">刷新</button>
		</td>
	</tr>
  </table>
</div>
</div>
</body>
<script type="text/javascript">
	$(".btn-danger").click(function(){
		window.location.href="{:U('Orderdetails/order_tousu')}";
	});
	$(".btn-info").click(function(){
		window.location.href="{:U('Orderdetails/order_tousu_reason_list')}";
	});
	// 投诉列表
	$(".btn-warning").click(function(){
		window.location.href="{:U('Orderdetails/order_tousu_reason_list')}";
	});

	$(".btn-primary").click(function(){
		location.reload();
	});
	$(".btn-success").click(function(){
		if( $('.tousu_name').val() == "" ){
			alert("报修原因不能够为空的!");
			return false;
		}
		select_id = $(this).val();
		$.ajax({
			type: "POST",
		dataType: "JSON",
			 url: "{:U('Orderdetails/AjaxTousu')}",
			data: { 'select_id':select_id , 'tousu_name':$('.tousu_name').val() },
			success: function( data ){
				if(data.status == 2000 ){
					alert(data.message);
					window.location.href="{:U('Orderdetails/order_tousu_reason_list')}";
					return false;
				}else if( data.status == -2000 ){
					alert(data.message);
					return false;
				}
			},
			error: function(XMLHttpRequest , error , status ){
				alert("网络错误，请稍后再尝试" + status );
				return false;
			}
		});
		return false;
	});
</script>
</html>